Repository grain-lang/grain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marcusroberts, @ospencer, @phated, @peblair, @jozanza

fix unnecessary aliasing
  stdlib/runtime/compare.gr
  stdlib/runtime/equal.gr
  stdlib/runtime/string.gr
Owners: @ospencer, @peblair, @jozanza, @phated

fix formatter tests
  compiler/test/grainfmt/application.input.gr
  compiler/test/grainfmt/matches.input.gr
Owners: @ospencer, @phated, @peblair

update error message
  compiler/src/typed/typemod.re
  compiler/test/suites/includes.re
Owners: @ospencer, @peblair, @phated

remove inlay hint
  compiler/src/language_server/inlayhint.re
Owners: @marcusroberts, @ospencer, @phated

chore(compiler): Avoid round trip between string & bytes when reading cmi (#1926)
  compiler/src/typed/cmi_format.re
  compiler/src/utils/wasm_utils.re
  compiler/src/utils/wasm_utils.rei
Owners: @ospencer, @peblair, @phated, @marcusroberts, @jozanza

chore(stdlib)!: Remove `sin`, `cos`, `tan`, `gamma`, `factorial` from `Number` module (#2046)
  compiler/test/stdlib/number.test.gr
  stdlib/number.gr
  stdlib/number.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

remove todo notice
  stdlib/list.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

update docs
  stdlib/list.gr
  stdlib/list.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

feat(stdlib): Add mutable doubly-linked list
  compiler/test/stdlib/list.test.gr
  stdlib/list.gr
  stdlib/list.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore(stdlib): Refactor `Marshal` to use early return
  stdlib/marshal.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Refactor for update
  stdlib/marshal.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: format
  stdlib/marshal.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Correct result
  compiler/test/stdlib/number.test.gr
  stdlib/number.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

feat(stdlib): Add `atan2` to the `Number` module
  compiler/test/stdlib/number.test.gr
  stdlib/number.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Regen graindoc
  stdlib/number.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Apply suggestions from code review
  stdlib/marshal.gr
  stdlib/marshal.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Switch to variant
  compiler/src/language_server/definition.re
Owners: @marcusroberts, @ospencer, @phated

chore: Change depth var.
  compiler/src/language_server/definition.re
Owners: @marcusroberts, @ospencer, @phated

fix(lsp): Improve lsp behaviour on goto definition
  compiler/src/language_server/definition.re
Owners: @marcusroberts, @ospencer, @phated

Update compiler/src/language_server/definition.re
  compiler/src/language_server/definition.re
Owners: @marcusroberts, @ospencer, @phated

chore: Update formatting
  stdlib/string.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

feat(stdlib): Add More String Iteration Functions
  compiler/test/stdlib/string.test.gr
  stdlib/string.gr
  stdlib/string.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Update grain doc
  stdlib/string.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Format tests
  compiler/test/stdlib/string.test.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Remove unused idx
  stdlib/string.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Update syntax
  stdlib/string.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Format tests
  compiler/test/stdlib/string.test.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

fix(compiler): Supply correct locations for attributes
  compiler/src/parsing/parser.mly
  compiler/test/grainfmt/comments.expected.gr
Owners: @ospencer, @peblair, @phated, @marcusroberts

fix(compiler): Supply correct locations for attributes (#2048)
  compiler/src/parsing/parser.mly
  compiler/test/grainfmt/comments.expected.gr
Owners: @ospencer, @peblair, @phated, @marcusroberts

chore(stdlib): Refactor `Marshal` to use early return (#2022)
  stdlib/marshal.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

feat(stdlib): Add `atan2` to the `Number` module (#2016)
  compiler/test/stdlib/number.test.gr
  stdlib/number.gr
  stdlib/number.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

clear buffer before marshaling
  stdlib/marshal.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

remove unused import
  stdlib/marshal.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

fix(cli): Show correct error when module traps
  cli/bin/grainrun.js
Owners: @phated, @ospencer, @marcusroberts

fix(compiler): Ensure reprovided types unify
  compiler/src/typed/typemod.re
  compiler/test/input/reprovideTypeUnifyA.gr
  compiler/test/input/reprovideTypeUnifyB.gr
  compiler/test/input/reprovideTypeUnifyC.gr
  compiler/test/suites/provides.re
Owners: @ospencer, @peblair, @phated

fix(stdlib): Ensure consistent marshal representation (#2045)
  compiler/test/stdlib/marshal.test.gr
  stdlib/marshal.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

fix(compiler): Ensure reprovided types unify (#2051)
  compiler/src/typed/typemod.re
  compiler/test/input/reprovideTypeUnifyA.gr
  compiler/test/input/reprovideTypeUnifyB.gr
  compiler/test/input/reprovideTypeUnifyC.gr
  compiler/test/suites/provides.re
Owners: @ospencer, @peblair, @phated

fix(cli): Show correct error when module traps (#2050)
  cli/bin/grainrun.js
Owners: @phated, @ospencer, @marcusroberts

chore(compiler): Remove unnecessary fix_blocks in parser
  compiler/src/parsing/parser_header.re
Owners: @ospencer, @peblair, @phated, @marcusroberts

feat(stdlib): URI Parsing module
  compiler/test/stdlib/uri.test.gr
  stdlib/uri.gr
  stdlib/uri.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

.github/CODEOWNERS:

# In the format of:
# FILE @PRIMARY_OWNER ...@SECONDARY_OWNERS

# Order of precendence is top-to-bottom. The last line to match a file will assign the codeowners

# Deliberately no catch-all so we know when we need to add something to this file

/.gitpod.Dockerfile                         @marcusroberts @ospencer
/.gitpod.yml                                @marcusroberts @ospencer
/README.md                                  @ospencer @phated @peblair

/.vscode/                                   @phated @ospencer

/docs/                                      @ospencer @phated @peblair @marcusroberts @jozanza

/.github/workflows/ci.yml                   @phated @ospencer
/.github/workflows/docker-publish.yml       @ospencer @phated
/.github/workflows/release.yml              @phated @ospencer

/cli/.prettierignore                        @ospencer @phated @jozanza
/cli/.prettierrc.json                       @ospencer @phated @jozanza
/cli/__test__/                              @jozanza @phated @ospencer @peblair
/cli/bin/                                   @phated @ospencer @marcusroberts
/cli/package.json                           @phated @ospencer

/compiler/esy.lock/                         @phated @ospencer
/compiler/dune-project                      @ospencer @phated
/compiler/dune-workspace                    @ospencer @phated
/compiler/dune                              @ospencer @phated
/compiler/src/dune                          @phated @ospencer
/compiler/test/                             @ospencer @phated @peblair
/compiler/test/formatter_inputs             @marcusroberts @phated @ospencer
/compiler/test/formatter_outputs            @marcusroberts @phated @ospencer
/compiler/test/stdlib/                      @ospencer @phated @peblair @marcusroberts @jozanza
/compiler/grainc/                           @peblair @phated @ospencer
/compiler/graindoc/                         @phated @marcusroberts @ospencer
/compiler/grainformat/                      @marcusroberts @phated @ospencer
/compiler/grainlsp/                         @marcusroberts @phated @ospencer
/compiler/src/codegen/                      @ospencer @peblair @phated
/compiler/src/diagnostics/                  @marcusroberts @ospencer @phated
/compiler/src/formatting/                   @marcusroberts @phated @ospencer
/compiler/src/language_server/              @marcusroberts @ospencer @phated
/compiler/src/linking/                      @ospencer @phated @peblair
/compiler/src/middle_end/                   @ospencer @peblair @phated
/compiler/src/parsing/                      @ospencer @peblair @phated @marcusroberts
/compiler/src/typed/                        @ospencer @peblair @phated
/compiler/src/utils/                        @phated @ospencer @marcusroberts @peblair @jozanza
/compiler/src/compile.re                    @ospencer @peblair @phated
/compiler/src/compile.rei                   @ospencer @peblair @phated
/compiler/esy.json                          @ospencer @phated
/compiler/package.json                      @ospencer @phated

/stdlib/                                    @ospencer @phated @peblair @marcusroberts @jozanza
/stdlib/runtime/                            @ospencer @peblair @jozanza @phated
/stdlib/package.json                        @phated @ospencer
/stdlib/index.js                            @phated @ospencer
/stdlib/LICENSE                             @ospencer @peblair

/.gitattributes                             @phated @ospencer
/.gitignore                                 @phated @ospencer
/CODE_OF_CONDUCT.md                         @ospencer @phated
/CONTRIBUTING.md                            @ospencer @peblair @phated @marcusroberts @jozanza
/.dockerignore                              @ospencer @peblair
/Dockerfile                                 @ospencer @peblair @phated
/Dockerfile-slim                            @ospencer @peblair @phated
/.npmrc                                     @phated @ospencer
/package-lock.json                          @phated @ospencer
/package.json                               @phated @ospencer
/release-please-config.json                 @phated @ospencer
/LICENSE                                    @ospencer @peblair
