Repository grain-lang/grain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marcusroberts, @ospencer, @phated, @peblair, @jozanza

update process example
  stdlib/wasi/process.gr
  stdlib/wasi/process.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

feat(stdlib)!: Move stdlib `sys` modules to `wasi` (#2056)
  compiler/test/stdlib/wasi.file.test.gr
  compiler/test/stdlib/wasi.process.test.gr
  compiler/test/stdlib/wasi.random.test.gr
  compiler/test/stdlib/wasi.time.test.gr
  compiler/test/suites/stdlib.re
  compiler/test/suites/wasi_args.re
  stdlib/hash.gr
  stdlib/random.gr
  stdlib/wasi/file.gr
  stdlib/wasi/file.md
  stdlib/wasi/process.gr
  stdlib/wasi/process.md
  stdlib/wasi/random.gr
  stdlib/wasi/random.md
  stdlib/wasi/time.gr
  stdlib/wasi/time.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore(compiler): Add `fromNumber(<literal>)` warning for `short` types (#2024)
  compiler/src/typed/typed_well_formedness.re
  compiler/src/utils/warnings.re
  compiler/src/utils/warnings.rei
  compiler/test/suites/numbers.re
Owners: @ospencer, @peblair, @phated, @marcusroberts, @jozanza

chore(docs): Add examples to `Number` module (#2015)
  stdlib/number.gr
  stdlib/number.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

feat(stdlib): Add `Json` module (#1133)
  compiler/test/stdlib/json.test.gr
  compiler/test/suites/stdlib.re
  stdlib/json.gr
  stdlib/json.md
  stdlib/runtime/string.gr
  stdlib/runtime/string.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

fix(lsp): Prevent lsp crash when module cannot be found
  compiler/src/language_server/hover.re
Owners: @marcusroberts, @ospencer, @phated

feat: Make the hover more reliable and improve format
  compiler/src/language_server/hover.re
  compiler/src/language_server/sourcetree.re
Owners: @marcusroberts, @ospencer, @phated

chore: Send no response on invalid module
  compiler/src/language_server/hover.re
Owners: @marcusroberts, @ospencer, @phated

chore(stdlib)!: Make `parseInt` use an exception in the err case
  compiler/test/stdlib/number.test.gr
  stdlib/number.md
  stdlib/runtime/atoi/parse.gr
  stdlib/runtime/atoi/parse.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Switch to using an enum
  stdlib/number.gr
  stdlib/number.md
  stdlib/runtime/atoi/parse.gr
  stdlib/runtime/atoi/parse.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Correct spelling of parse
  compiler/test/stdlib/number.test.gr
  stdlib/number.gr
  stdlib/runtime/atoi/parse.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Switch back to an exception
  compiler/test/stdlib/number.test.gr
  stdlib/number.gr
  stdlib/number.md
  stdlib/runtime/atoi/parse.gr
  stdlib/runtime/atoi/parse.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Switch to enum
  stdlib/number.gr
  stdlib/runtime/atoi/parse.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Update for new syntax
  stdlib/number.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

make oprint resolve the keyword from the original type
  compiler/src/typed/oprint.re
Owners: @ospencer, @peblair, @phated

chore: Generate docs
  compiler/src/typed/oprint.re
  stdlib/number.md
  stdlib/runtime/atoi/parse.md
Owners: @ospencer, @peblair, @phated, @marcusroberts, @jozanza

fix docs
  stdlib/number.gr
  stdlib/number.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Regen docs after update
  stdlib/number.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore(stdlib)!: Replace `parseInt` error strings with structured error enum (#1755)
  compiler/src/typed/oprint.re
  compiler/test/stdlib/number.test.gr
  stdlib/number.gr
  stdlib/number.md
  stdlib/runtime/atoi/parse.gr
  stdlib/runtime/atoi/parse.md
Owners: @ospencer, @peblair, @phated, @marcusroberts, @jozanza

fix(lsp): Prevent lsp crash when module cannot be found (#2003)
  compiler/src/language_server/hover.re
  compiler/src/language_server/sourcetree.re
Owners: @marcusroberts, @ospencer, @phated

chore: Supress warnings when testing fromNumber
  compiler/test/stdlib/rational.test.gr
  compiler/test/suites/numbers.re
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore(stdlib): Convert all relative filepath includes to module includes
  stdlib/runtime/atof/common.gr
  stdlib/runtime/atof/decimal.gr
  stdlib/runtime/atof/lemire.gr
  stdlib/runtime/atof/parse.gr
  stdlib/runtime/atof/slow.gr
Owners: @ospencer, @peblair, @jozanza, @phated

fix(compiler): Ensure the extension is chopped in the case of module name error
  compiler/src/typed/module_resolution.re
Owners: @ospencer, @peblair, @phated

chore: Supress warnings when testing fromNumber (#2058)
  compiler/test/stdlib/rational.test.gr
  compiler/test/suites/numbers.re
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

fix(compiler): Ensure the extension is chopped in the case of module name error (#2060)
  compiler/src/typed/module_resolution.re
Owners: @ospencer, @peblair, @phated

chore(stdlib): Convert all relative filepath includes to module includes (#2059)
  stdlib/runtime/atof/common.gr
  stdlib/runtime/atof/decimal.gr
  stdlib/runtime/atof/lemire.gr
  stdlib/runtime/atof/parse.gr
  stdlib/runtime/atof/slow.gr
Owners: @ospencer, @peblair, @jozanza, @phated

chore(stdlib): Regenerate markdown documentation
  stdlib/array.md
  stdlib/bigint.md
  stdlib/buffer.md
  stdlib/bytes.md
  stdlib/char.md
  stdlib/float32.md
  stdlib/float64.md
  stdlib/int16.md
  stdlib/int32.md
  stdlib/int64.md
  stdlib/int8.md
  stdlib/json.md
  stdlib/list.md
  stdlib/map.md
  stdlib/number.md
  stdlib/option.md
  stdlib/path.md
  stdlib/pervasives.md
  stdlib/priorityqueue.md
  stdlib/queue.md
  stdlib/random.md
  stdlib/range.md
  stdlib/rational.md
  stdlib/result.md
  stdlib/runtime/atoi/parse.md
  stdlib/runtime/numbers.md
  stdlib/set.md
  stdlib/stack.md
  stdlib/string.md
  stdlib/uint16.md
  stdlib/uint32.md
  stdlib/uint64.md
  stdlib/uint8.md
  stdlib/uri.md
  stdlib/wasi/file.md
  stdlib/wasi/random.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

feat: Add Completion
  compiler/src/diagnostics/modules.re
  compiler/src/language_server/completion.re
  compiler/src/language_server/completion.rei
  compiler/src/language_server/driver.re
  compiler/src/language_server/hover.re
  compiler/src/language_server/initialize.re
  compiler/src/language_server/message.re
  compiler/src/language_server/message.rei
  compiler/src/language_server/trace.re
Owners: @marcusroberts, @ospencer, @phated

Add more `trigger_characters`
  compiler/src/language_server/initialize.re
Owners: @marcusroberts, @ospencer, @phated

chore: remove random todo
  compiler/src/language_server/completion.re
Owners: @marcusroberts, @ospencer, @phated

chore: Make `Module.*` completion work properly.
  compiler/src/language_server/completion.re
Owners: @marcusroberts, @ospencer, @phated

chore: remove unused function
  compiler/src/language_server/completion.re
Owners: @marcusroberts, @ospencer, @phated

feat: Actual Completion Working
  compiler/src/language_server/completion.re
  compiler/src/language_server/doc.re
  compiler/src/language_server/doc.rei
  compiler/src/language_server/hover.re
Owners: @marcusroberts, @ospencer, @phated

chore: Improve context detection
  compiler/src/language_server/completion.re
Owners: @marcusroberts, @ospencer, @phated

chore: Better type seperation.
  compiler/src/language_server/completion.re
Owners: @marcusroberts, @ospencer, @phated

chore: Future framework for include completions
  compiler/src/language_server/completion.re
Owners: @marcusroberts, @ospencer, @phated

feat: Improve Completion
  compiler/src/language_server/completion.re
  compiler/src/language_server/completion.rei
  compiler/src/language_server/doc.re
  compiler/src/language_server/driver.re
  compiler/src/language_server/hover.re
  compiler/src/language_server/initialize.re
  compiler/src/language_server/message.re
  compiler/src/language_server/message.rei
  compiler/src/language_server/trace.re
Owners: @marcusroberts, @ospencer, @phated

chore: Rename `doc.re` to `document.re`
  compiler/src/language_server/completion.re
  compiler/src/language_server/document.re
  compiler/src/language_server/document.rei
  compiler/src/language_server/hover.re
Owners: @marcusroberts, @ospencer, @phated

chore: Better detect `let` and `type`, do not recommend stuff where we are writing an identifier.
  compiler/src/language_server/completion.re
Owners: @marcusroberts, @ospencer, @phated

chore: Run Formatter
  compiler/src/language_server/completion.rei
  compiler/src/language_server/doc.re
Owners: @marcusroberts, @ospencer, @phated

.github/CODEOWNERS:

# In the format of:
# FILE @PRIMARY_OWNER ...@SECONDARY_OWNERS

# Order of precendence is top-to-bottom. The last line to match a file will assign the codeowners

# Deliberately no catch-all so we know when we need to add something to this file

/.gitpod.Dockerfile                         @marcusroberts @ospencer
/.gitpod.yml                                @marcusroberts @ospencer
/README.md                                  @ospencer @phated @peblair

/.vscode/                                   @phated @ospencer

/docs/                                      @ospencer @phated @peblair @marcusroberts @jozanza

/.github/workflows/ci.yml                   @phated @ospencer
/.github/workflows/docker-publish.yml       @ospencer @phated
/.github/workflows/release.yml              @phated @ospencer

/cli/.prettierignore                        @ospencer @phated @jozanza
/cli/.prettierrc.json                       @ospencer @phated @jozanza
/cli/__test__/                              @jozanza @phated @ospencer @peblair
/cli/bin/                                   @phated @ospencer @marcusroberts
/cli/package.json                           @phated @ospencer

/compiler/esy.lock/                         @phated @ospencer
/compiler/dune-project                      @ospencer @phated
/compiler/dune-workspace                    @ospencer @phated
/compiler/dune                              @ospencer @phated
/compiler/src/dune                          @phated @ospencer
/compiler/test/                             @ospencer @phated @peblair
/compiler/test/formatter_inputs             @marcusroberts @phated @ospencer
/compiler/test/formatter_outputs            @marcusroberts @phated @ospencer
/compiler/test/stdlib/                      @ospencer @phated @peblair @marcusroberts @jozanza
/compiler/grainc/                           @peblair @phated @ospencer
/compiler/graindoc/                         @phated @marcusroberts @ospencer
/compiler/grainformat/                      @marcusroberts @phated @ospencer
/compiler/grainlsp/                         @marcusroberts @phated @ospencer
/compiler/src/codegen/                      @ospencer @peblair @phated
/compiler/src/diagnostics/                  @marcusroberts @ospencer @phated
/compiler/src/formatting/                   @marcusroberts @phated @ospencer
/compiler/src/language_server/              @marcusroberts @ospencer @phated
/compiler/src/linking/                      @ospencer @phated @peblair
/compiler/src/middle_end/                   @ospencer @peblair @phated
/compiler/src/parsing/                      @ospencer @peblair @phated @marcusroberts
/compiler/src/typed/                        @ospencer @peblair @phated
/compiler/src/utils/                        @phated @ospencer @marcusroberts @peblair @jozanza
/compiler/src/compile.re                    @ospencer @peblair @phated
/compiler/src/compile.rei                   @ospencer @peblair @phated
/compiler/esy.json                          @ospencer @phated
/compiler/package.json                      @ospencer @phated

/stdlib/                                    @ospencer @phated @peblair @marcusroberts @jozanza
/stdlib/runtime/                            @ospencer @peblair @jozanza @phated
/stdlib/package.json                        @phated @ospencer
/stdlib/index.js                            @phated @ospencer
/stdlib/LICENSE                             @ospencer @peblair

/.gitattributes                             @phated @ospencer
/.gitignore                                 @phated @ospencer
/CODE_OF_CONDUCT.md                         @ospencer @phated
/CONTRIBUTING.md                            @ospencer @peblair @phated @marcusroberts @jozanza
/.dockerignore                              @ospencer @peblair
/Dockerfile                                 @ospencer @peblair @phated
/Dockerfile-slim                            @ospencer @peblair @phated
/.npmrc                                     @phated @ospencer
/package-lock.json                          @phated @ospencer
/package.json                               @phated @ospencer
/release-please-config.json                 @phated @ospencer
/LICENSE                                    @ospencer @peblair
