Repository grain-lang/grain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marcusroberts, @ospencer, @phated, @peblair, @jozanza

.github/CODEOWNERS:

# In the format of:
# FILE @PRIMARY_OWNER ...@SECONDARY_OWNERS

# Order of precendence is top-to-bottom. The last line to match a file will assign the codeowners

# Deliberately no catch-all so we know when we need to add something to this file

/.gitpod.Dockerfile                         @marcusroberts @ospencer
/.gitpod.yml                                @marcusroberts @ospencer
/README.md                                  @ospencer @phated @peblair

/.vscode/                                   @phated @ospencer

/docs/                                      @ospencer @phated @peblair @marcusroberts @jozanza

/.github/workflows/ci.yml                   @phated @ospencer
/.github/workflows/docker-publish.yml       @ospencer @phated
/.github/workflows/release.yml              @phated @ospencer

/cli/.prettierignore                        @ospencer @phated @jozanza
/cli/.prettierrc.json                       @ospencer @phated @jozanza
/cli/__test__/                              @jozanza @phated @ospencer @peblair
/cli/bin/                                   @phated @ospencer @marcusroberts
/cli/package.json                           @phated @ospencer

/compiler/esy.lock/                         @phated @ospencer
/compiler/dune-project                      @ospencer @phated
/compiler/dune-workspace                    @ospencer @phated
/compiler/dune                              @ospencer @phated
/compiler/src/dune                          @phated @ospencer
/compiler/test/                             @ospencer @phated @peblair
/compiler/test/formatter_inputs             @marcusroberts @phated @ospencer
/compiler/test/formatter_outputs            @marcusroberts @phated @ospencer
/compiler/test/stdlib/                      @ospencer @phated @peblair @marcusroberts @jozanza
/compiler/grainc/                           @peblair @phated @ospencer
/compiler/graindoc/                         @phated @marcusroberts @ospencer
/compiler/grainformat/                      @marcusroberts @phated @ospencer
/compiler/grainlsp/                         @marcusroberts @phated @ospencer
/compiler/src/codegen/                      @ospencer @peblair @phated
/compiler/src/diagnostics/                  @marcusroberts @ospencer @phated
/compiler/src/formatting/                   @marcusroberts @phated @ospencer
/compiler/src/language_server/              @marcusroberts @ospencer @phated
/compiler/src/linking/                      @ospencer @phated @peblair
/compiler/src/middle_end/                   @ospencer @peblair @phated
/compiler/src/parsing/                      @ospencer @peblair @phated @marcusroberts
/compiler/src/typed/                        @ospencer @peblair @phated
/compiler/src/utils/                        @phated @ospencer @marcusroberts @peblair @jozanza
/compiler/src/compile.re                    @ospencer @peblair @phated
/compiler/src/compile.rei                   @ospencer @peblair @phated
/compiler/esy.json                          @ospencer @phated
/compiler/package.json                      @ospencer @phated

/stdlib/                                    @ospencer @phated @peblair @marcusroberts @jozanza
/stdlib/runtime/                            @ospencer @peblair @jozanza @phated
/stdlib/package.json                        @phated @ospencer
/stdlib/index.js                            @phated @ospencer
/stdlib/LICENSE                             @ospencer @peblair

/.gitattributes                             @phated @ospencer
/.gitignore                                 @phated @ospencer
/CODE_OF_CONDUCT.md                         @ospencer @phated
/CONTRIBUTING.md                            @ospencer @peblair @phated @marcusroberts @jozanza
/.dockerignore                              @ospencer @peblair
/Dockerfile                                 @ospencer @peblair @phated
/Dockerfile-slim                            @ospencer @peblair @phated
/.npmrc                                     @phated @ospencer
/package-lock.json                          @phated @ospencer
/package.json                               @phated @ospencer
/release-please-config.json                 @phated @ospencer
/LICENSE                                    @ospencer @peblair

feat: Use the lexer for much better completion contexts
  compiler/src/language_server/completion.re
  compiler/src/language_server/document.re
  compiler/src/language_server/document.rei
  compiler/src/language_server/initialize.re
  compiler/src/parsing/wrapped_lexer.rei
Owners: @marcusroberts, @ospencer, @phated, @peblair

chore: Fix issues after rebase
  compiler/src/language_server/document.rei
  compiler/src/language_server/hover.re
Owners: @marcusroberts, @ospencer, @phated

chore: Update for new syntax
  compiler/src/language_server/completion.re
  compiler/src/language_server/hover.re
Owners: @marcusroberts, @ospencer, @phated

feat(compiler): Set max table size
  compiler/src/linking/link.re
  compiler/test/suites/basic_functionality.re
Owners: @ospencer, @phated, @peblair

chore(stdlib): Reuse functions from `NumberUtils`
  stdlib/json.gr
  stdlib/runtime/numberUtils.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: use early return in `parseString`
  stdlib/json.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: use early return in `parseArray`
  stdlib/json.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: use early return in `parseObject`
  stdlib/json.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Better code reuse between branches
  stdlib/json.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Add docs to `Json` datatype
  stdlib/json.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: regen docs
  stdlib/json.md
  stdlib/runtime/numberUtils.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

feat(compiler): Allow non-block bodies with loops
  compiler/src/parsing/parser.messages
  compiler/src/parsing/parser.mly
  compiler/test/grainfmt/for_loops.expected.gr
  compiler/test/grainfmt/for_loops.input.gr
  compiler/test/grainfmt/while_loops.expected.gr
  compiler/test/grainfmt/while_loops.input.gr
Owners: @ospencer, @peblair, @phated, @marcusroberts

chore(stdlib): Implement `print` using a single element io vec
  stdlib/runtime/string.gr
Owners: @ospencer, @peblair, @jozanza, @phated

Use concat instead of join
  stdlib/runtime/string.gr
Owners: @ospencer, @peblair, @jozanza, @phated

Update stdlib/runtime/string.gr
  stdlib/runtime/string.gr
Owners: @ospencer, @peblair, @jozanza, @phated

fix(compiler): Set maximum wasm table size (#2061)
  compiler/src/linking/link.re
  compiler/test/suites/basic_functionality.re
Owners: @ospencer, @phated, @peblair

fix(stdlib): Implement `print` using a single element io vec (#2066)
  stdlib/runtime/string.gr
Owners: @ospencer, @peblair, @jozanza, @phated

fix(compiler): Allow proper disambiguation of enum variants
  compiler/src/typed/typepat.re
  compiler/test/suites/types.re
Owners: @ospencer, @peblair, @phated

fix(compiler): Allow proper disambiguation of enum variants (#2068)
  compiler/src/typed/typepat.re
  compiler/test/suites/types.re
Owners: @ospencer, @peblair, @phated

chore(ci): Conditionally commit regenerated documentation
  .github/workflows/generate-docs.yml
Owners: none

fix(grainfmt): Ensure constraints and keyword functions group properly
  compiler/src/formatting/fmt.re
  compiler/test/grainfmt/binops.expected.gr
  compiler/test/grainfmt/binops.input.gr
  compiler/test/grainfmt/keyword_expression.expected.gr
  compiler/test/grainfmt/keyword_expression.input.gr
  compiler/test/suites/formatter.re
Owners: @marcusroberts, @phated, @ospencer, @peblair

fix(grainfmt): Fix printing of qualified infix operators
  compiler/src/formatting/fmt.re
  compiler/test/grainfmt/application.expected.gr
  compiler/test/grainfmt/application.input.gr
Owners: @marcusroberts, @phated, @ospencer, @peblair

fix(compiler): Fix disambiguation of record label access
  compiler/src/typed/typecore.re
  compiler/test/suites/records.re
Owners: @ospencer, @peblair, @phated

fix(compiler): Fix disambiguation of record label access (#2072)
  compiler/src/typed/typecore.re
  compiler/test/suites/records.re
Owners: @ospencer, @peblair, @phated

fix(grainfmt): Fix printing of qualified infix operators (#2071)
  compiler/src/formatting/fmt.re
  compiler/test/grainfmt/application.expected.gr
  compiler/test/grainfmt/application.input.gr
Owners: @marcusroberts, @phated, @ospencer, @peblair

fix(grainfmt): Ensure constraints and keyword functions group properly (#2070)
  compiler/src/formatting/fmt.re
  compiler/test/grainfmt/binops.expected.gr
  compiler/test/grainfmt/binops.input.gr
  compiler/test/grainfmt/keyword_expression.expected.gr
  compiler/test/grainfmt/keyword_expression.input.gr
  compiler/test/suites/formatter.re
Owners: @marcusroberts, @phated, @ospencer, @peblair

chore(ci): Conditionally commit regenerated documentation (#2069)
  .github/workflows/generate-docs.yml
Owners: none

Add formatting tests
  compiler/test/grainfmt/comments.expected.gr
  compiler/test/grainfmt/comments.input.gr
Owners: @ospencer, @phated, @peblair

Build JS compiler for playground [ci skip]
  compiler/grainc/dune
Owners: @peblair, @phated, @ospencer

chore(stdlib): Make `Array.contains` use recursion
  stdlib/array.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

feat(fmt): Convert `binop` to `infix assignment` when formatting `ArraySet`
  compiler/src/formatting/fmt.re
Owners: @marcusroberts, @phated, @ospencer

chore: Add formatting tests
  compiler/test/grainfmt/arrays.expected.gr
  compiler/test/grainfmt/arrays.input.gr
Owners: @ospencer, @phated, @peblair

feat(compiler): Add well formedness errors for non float `array` index's
  compiler/src/parsing/well_formedness.re
  compiler/test/suites/arrays.re
Owners: @ospencer, @peblair, @phated, @marcusroberts

feat(compiler): Allow non-block bodies with loops (#2064)
  compiler/src/parsing/parser.messages
  compiler/src/parsing/parser.mly
  compiler/test/grainfmt/comments.expected.gr
  compiler/test/grainfmt/comments.input.gr
  compiler/test/grainfmt/for_loops.expected.gr
  compiler/test/grainfmt/for_loops.input.gr
  compiler/test/grainfmt/while_loops.expected.gr
  compiler/test/grainfmt/while_loops.input.gr
Owners: @ospencer, @peblair, @phated, @marcusroberts

fix(stdlib): Avoid WASI random_get in Hash stdlib during module startup
  stdlib/hash.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

add @throws
  stdlib/hash.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

graindoc
  stdlib/hash.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

feat(stdlib): Sys/Event
  compiler/test/stdlib/wasi.event.test.gr
  compiler/test/suites/stdlib.re
  stdlib/runtime/wasi.gr
  stdlib/runtime/wasi.md
  stdlib/wasi/event.gr
  stdlib/wasi/event.md
  stdlib/wasi/file.gr
  stdlib/wasi/file.md
  stdlib/wasi/time.gr
  stdlib/wasi/time.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

check if clocks test works on windows
  compiler/test/stdlib/wasi.event.test.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

try stderr
  compiler/test/stdlib/wasi.event.test.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza
