Repository grain-lang/grain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marcusroberts, @ospencer, @phated, @peblair, @jozanza

Add flush_write_queue utility
  compiler/src/formatting/doc.re
Owners: @marcusroberts, @phated, @ospencer

Make concat_map ~lead and ~trail parameters required
  compiler/src/formatting/doc.re
  compiler/src/formatting/doc.rei
  compiler/src/formatting/fmt.re
Owners: @marcusroberts, @phated, @ospencer

Handle comments for punnable patterns
  compiler/src/formatting/fmt.re
  compiler/test/grainfmt/comments.expected.gr
  compiler/test/grainfmt/comments.input.gr
Owners: @marcusroberts, @phated, @ospencer, @peblair

Simplify print_lambda_argument
  compiler/src/formatting/fmt.re
Owners: @marcusroberts, @phated, @ospencer

Simplify print_ident_string
  compiler/src/formatting/fmt.re
Owners: @marcusroberts, @phated, @ospencer

Pass print_attribute function directly
  compiler/src/formatting/fmt.re
Owners: @marcusroberts, @phated, @ospencer

Nest print_application_argument calls
  compiler/src/formatting/fmt.re
Owners: @marcusroberts, @phated, @ospencer

Don't indent binops more than necessary in more places
  compiler/src/formatting/fmt.re
  compiler/test/grainfmt/application_indenting.expected.gr
  stdlib/runtime/atof/decimal.gr
  stdlib/runtime/numberUtils.gr
Owners: @marcusroberts, @phated, @ospencer, @peblair, @jozanza

Remove fixed issue reference
  compiler/test/grainfmt/includes.expected.gr
  compiler/test/grainfmt/includes.input.gr
Owners: @ospencer, @phated, @peblair

Add comment about Windows stuff
  compiler/test/runner.re
Owners: @ospencer, @phated, @peblair

fix off-by-one formatting
  compiler/src/formatting/doc.re
  compiler/src/formatting/doc.rei
  compiler/src/formatting/fmt.re
  compiler/test/grainfmt/includes.expected.gr
  compiler/test/grainfmt/patterns.expected.gr
  stdlib/marshal.gr
  stdlib/range.gr
  stdlib/regex.gr
  stdlib/runtime/exception.gr
  stdlib/runtime/string.gr
  stdlib/set.gr
  stdlib/sys/file.gr
Owners: @marcusroberts, @phated, @ospencer, @peblair, @jozanza

Add comment nodes into the Doc and remove group_breaker node
  compiler/src/formatting/doc.re
  compiler/src/formatting/doc.rei
  compiler/src/formatting/fmt.re
Owners: @marcusroberts, @phated, @ospencer

add empty module formatter test
  compiler/test/grainfmt/empty.expected.gr
  compiler/test/grainfmt/empty.input.gr
  compiler/test/suites/formatter.re
Owners: @ospencer, @phated, @peblair

Update non-pun comment
  compiler/src/formatting/fmt.re
Owners: @marcusroberts, @phated, @ospencer

change type definition formatting to work like let bindings
  compiler/src/formatting/fmt.re
  compiler/test/grainfmt/aliases.expected.gr
Owners: @marcusroberts, @phated, @ospencer, @peblair

Add example of how comments can make a block break
  compiler/test/grainfmt/patterns.expected.gr
  compiler/test/grainfmt/patterns.input.gr
Owners: @ospencer, @phated, @peblair

Make comments stay on the opening of a brace
  compiler/src/formatting/doc.re
  compiler/src/formatting/doc.rei
  compiler/src/formatting/fmt.re
  compiler/test/grainfmt/brace_comments.expected.gr
  compiler/test/grainfmt/comments.expected.gr
  compiler/test/grainfmt/enums.expected.gr
  compiler/test/grainfmt/records.expected.gr
  stdlib/map.gr
  stdlib/number.gr
  stdlib/runtime/numberUtils.gr
  stdlib/runtime/numbers.gr
Owners: @marcusroberts, @phated, @ospencer, @peblair, @jozanza

fix windows empty module test
  compiler/test/grainfmt/empty.input.gr
Owners: @ospencer, @phated, @peblair

Implement record pattern for formatter
  compiler/grainformat/grainformat.re
  compiler/src/diagnostics/commenttree.re
  compiler/src/diagnostics/commenttree.rei
  compiler/src/formatting/fmt.re
  compiler/src/language_server/formatting.re
Owners: @marcusroberts, @phated, @ospencer

Remove print_assigment for some utilities and less dry code
  compiler/src/formatting/fmt.re
Owners: @marcusroberts, @phated, @ospencer

update name
  compiler/src/formatting/fmt.re
Owners: @marcusroberts, @phated, @ospencer

Rework match branch printing to ensure line length
  compiler/src/formatting/fmt.re
  compiler/test/grainfmt/patterns.expected.gr
  compiler/test/grainfmt/patterns.input.gr
  stdlib/marshal.gr
  stdlib/range.gr
  stdlib/regex.gr
Owners: @marcusroberts, @phated, @ospencer, @peblair, @jozanza

simplify indent api
  compiler/src/formatting/doc.re
  compiler/src/formatting/doc.rei
  compiler/src/formatting/fmt.re
Owners: @marcusroberts, @phated, @ospencer

rework parens construct
  compiler/src/formatting/doc.re
  compiler/src/formatting/doc.rei
  compiler/src/formatting/fmt.re
  compiler/test/grainfmt/comments.expected.gr
Owners: @marcusroberts, @phated, @ospencer, @peblair

rework braces construct
  compiler/src/formatting/doc.re
  compiler/src/formatting/doc.rei
  compiler/src/formatting/fmt.re
  compiler/test/grainfmt/comments.expected.gr
  compiler/test/grainfmt/patterns.expected.gr
  compiler/test/grainfmt/records.expected.gr
  compiler/test/grainfmt/variants.expected.gr
Owners: @marcusroberts, @phated, @ospencer, @peblair

remove block_braces
  compiler/src/formatting/doc.re
  compiler/src/formatting/doc.rei
  compiler/src/formatting/fmt.re
Owners: @marcusroberts, @phated, @ospencer

rework array_brackets
  compiler/src/formatting/doc.re
  compiler/src/formatting/doc.rei
  compiler/src/formatting/fmt.re
  compiler/test/grainfmt/comments.expected.gr
Owners: @marcusroberts, @phated, @ospencer, @peblair

rework list_brackets
  compiler/src/formatting/doc.re
  compiler/src/formatting/doc.rei
  compiler/src/formatting/fmt.re
  compiler/test/grainfmt/comments.expected.gr
Owners: @marcusroberts, @phated, @ospencer, @peblair

rework angle_brackets
  compiler/src/formatting/doc.re
  compiler/src/formatting/doc.rei
  compiler/src/formatting/fmt.re
  compiler/test/grainfmt/aliases.expected.gr
  compiler/test/grainfmt/comments.expected.gr
Owners: @marcusroberts, @phated, @ospencer, @peblair

chore(stdlib): Add examples to `Hash` module
  stdlib/hash.gr
  stdlib/hash.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore(stdlib): Improve Float32 Docs
  stdlib/float32.gr
  stdlib/float32.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Add a negative syntax example.
  stdlib/float32.gr
  stdlib/float32.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore(stdlib): Improve `Float64` docs
  stdlib/float64.gr
  stdlib/float64.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore(stdlib): Improve Marshal docs
  stdlib/marshal.gr
  stdlib/marshal.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore(runtime): Remove the `debug` module
  stdlib/runtime/debug.gr
  stdlib/runtime/debug.md
Owners: @ospencer, @peblair, @jozanza, @phated

chore(stdlib): Cleanup unnecessary `mut` and `rec`
  stdlib/array.gr
  stdlib/buffer.gr
  stdlib/pervasives.gr
  stdlib/string.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

feat(lsp): Allow goto definition on `include` statements
  compiler/src/language_server/definition.re
  compiler/src/language_server/sourcetree.re
  compiler/src/parsing/location.re
  compiler/src/typed/env.re
  compiler/src/typed/env.rei
  compiler/src/typed/typedtree.re
  compiler/src/typed/typedtree.rei
  compiler/src/typed/typemod.re
Owners: @marcusroberts, @ospencer, @phated, @peblair

feat(lsp): Add hover for submodules
  compiler/src/language_server/hover.re
  compiler/src/language_server/sourcetree.re
Owners: @marcusroberts, @ospencer, @phated

chore: format compiler
  compiler/src/typed/env.re
Owners: @ospencer, @peblair, @phated

chore(compiler): Avoid processing number constants before typing
  compiler/src/parsing/ast_helper.re
  compiler/src/parsing/ast_helper.rei
  compiler/src/parsing/lexer.re
  compiler/src/parsing/parser.mly
  compiler/src/parsing/parsetree.re
  compiler/src/typed/checkertypes.re
  compiler/src/typed/parmatch.re
Owners: @ospencer, @peblair, @phated, @marcusroberts

.github/CODEOWNERS:

# In the format of:
# FILE @PRIMARY_OWNER ...@SECONDARY_OWNERS

# Order of precendence is top-to-bottom. The last line to match a file will assign the codeowners

# Deliberately no catch-all so we know when we need to add something to this file

/.gitpod.Dockerfile                         @marcusroberts @ospencer
/.gitpod.yml                                @marcusroberts @ospencer
/README.md                                  @ospencer @phated @peblair

/.vscode/                                   @phated @ospencer

/docs/                                      @ospencer @phated @peblair @marcusroberts @jozanza

/.github/workflows/ci.yml                   @phated @ospencer
/.github/workflows/docker-publish.yml       @ospencer @phated
/.github/workflows/release.yml              @phated @ospencer

/cli/.prettierignore                        @ospencer @phated @jozanza
/cli/.prettierrc.json                       @ospencer @phated @jozanza
/cli/__test__/                              @jozanza @phated @ospencer @peblair
/cli/bin/                                   @phated @ospencer @marcusroberts
/cli/package.json                           @phated @ospencer

/compiler/esy.lock/                         @phated @ospencer
/compiler/dune-project                      @ospencer @phated
/compiler/dune-workspace                    @ospencer @phated
/compiler/dune                              @ospencer @phated
/compiler/src/dune                          @phated @ospencer
/compiler/test/                             @ospencer @phated @peblair
/compiler/test/formatter_inputs             @marcusroberts @phated @ospencer
/compiler/test/formatter_outputs            @marcusroberts @phated @ospencer
/compiler/test/stdlib/                      @ospencer @phated @peblair @marcusroberts @jozanza
/compiler/grainc/                           @peblair @phated @ospencer
/compiler/graindoc/                         @phated @marcusroberts @ospencer
/compiler/grainformat/                      @marcusroberts @phated @ospencer
/compiler/grainlsp/                         @marcusroberts @phated @ospencer
/compiler/src/codegen/                      @ospencer @peblair @phated
/compiler/src/diagnostics/                  @marcusroberts @ospencer @phated
/compiler/src/formatting/                   @marcusroberts @phated @ospencer
/compiler/src/language_server/              @marcusroberts @ospencer @phated
/compiler/src/linking/                      @ospencer @phated @peblair
/compiler/src/middle_end/                   @ospencer @peblair @phated
/compiler/src/parsing/                      @ospencer @peblair @phated @marcusroberts
/compiler/src/typed/                        @ospencer @peblair @phated
/compiler/src/utils/                        @phated @ospencer @marcusroberts @peblair @jozanza
/compiler/src/compile.re                    @ospencer @peblair @phated
/compiler/src/compile.rei                   @ospencer @peblair @phated
/compiler/esy.json                          @ospencer @phated
/compiler/package.json                      @ospencer @phated

/stdlib/                                    @ospencer @phated @peblair @marcusroberts @jozanza
/stdlib/runtime/                            @ospencer @peblair @jozanza @phated
/stdlib/package.json                        @phated @ospencer
/stdlib/index.js                            @phated @ospencer
/stdlib/LICENSE                             @ospencer @peblair

/.gitattributes                             @phated @ospencer
/.gitignore                                 @phated @ospencer
/CODE_OF_CONDUCT.md                         @ospencer @phated
/CONTRIBUTING.md                            @ospencer @peblair @phated @marcusroberts @jozanza
/.dockerignore                              @ospencer @peblair
/Dockerfile                                 @ospencer @peblair @phated
/Dockerfile-slim                            @ospencer @peblair @phated
/.npmrc                                     @phated @ospencer
/package-lock.json                          @phated @ospencer
/package.json                               @phated @ospencer
/release-please-config.json                 @phated @ospencer
/LICENSE                                    @ospencer @peblair
