Repository grain-lang/grain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marcusroberts, @ospencer, @phated, @peblair, @jozanza

Provide uri record, remove accessor functions
  compiler/test/stdlib/uri.test.gr
  stdlib/uri.gr
  stdlib/uri.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

Update with new include syntax
  compiler/test/stdlib/uri.test.gr
  stdlib/uri.gr
  stdlib/uri.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

Apply review feedback
  stdlib/uri.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

Changed wording from `percentEncode` to `encode`
  compiler/test/stdlib/uri.test.gr
  stdlib/uri.gr
  stdlib/uri.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore(compiler): Remove unnecessary fix_blocks in parser (#2052)
  compiler/src/parsing/parser_header.re
Owners: @ospencer, @peblair, @phated, @marcusroberts

Added test for forgetting .gr extension
  compiler/test/suites/includes.re
  compiler/test/test-libs/brokenRelativeInclude.gr
Owners: @ospencer, @phated, @peblair

reference CRC issue
  compiler/src/typed/env.re
Owners: @ospencer, @peblair, @phated

Address review feedback
  compiler/test/stdlib/uri.test.gr
  stdlib/uri.gr
  stdlib/uri.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

Address review feedback
  compiler/src/typed/env.re
  compiler/src/typed/module_resolution.re
  compiler/test/input/reprovideTypeUnifyA.gr
  compiler/test/input/reprovideTypeUnifyB.gr
  compiler/test/suites/includes.re
Owners: @ospencer, @peblair, @phated

feat(stdlib): Add user-friendly file system module
  compiler/test/stdlib/sys.fs.test.gr
  compiler/test/test-data/test-dir/dir/nested.txt
  compiler/test/test-data/test-dir/file1.txt
  compiler/test/test-data/test-dir/file2.txt
  compiler/test/test-data/test-dir/file3.txt
  compiler/test/test-data/test-dir/link
  stdlib/path.gr
  stdlib/sys/file.gr
  stdlib/sys/fs.gr
  stdlib/sys/fs.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

Update to new include syntax, formatting
  compiler/test/stdlib/sys.fs.test.gr
  stdlib/sys/fs.gr
  stdlib/sys/fs.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

Address review feedback
  compiler/test/stdlib/fs.test.gr
  stdlib/fs.gr
  stdlib/fs.md
  stdlib/path.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

fix(stdlib): Fix `relativeTo` base comparison when arg 1: abs and arg 2: rel
  compiler/test/stdlib/path.test.gr
  stdlib/path.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

feat(stdlib): Add `Uri` module (#1970)
  compiler/test/stdlib/uri.test.gr
  stdlib/uri.gr
  stdlib/uri.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore(docs): Add examples to `Marshal` module (#2014)
  stdlib/marshal.gr
  stdlib/marshal.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore(docs): Add examples to `Hash` module (#2011)
  stdlib/hash.gr
  stdlib/hash.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

fix(stdlib): Error when `relativeTo` used on relative source and absolute dest (#2054)
  compiler/test/stdlib/path.test.gr
  stdlib/path.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Add error for `toString`
  compiler/src/typed/typed_well_formedness.re
  compiler/src/utils/warnings.re
  compiler/src/utils/warnings.rei
  stdlib/runtime/debugPrint.gr
Owners: @ospencer, @peblair, @phated, @marcusroberts, @jozanza

chore(compiler): Add warning for unsafe `print`
  compiler/src/typed/typed_well_formedness.re
  compiler/src/utils/warnings.re
  compiler/src/utils/warnings.rei
Owners: @ospencer, @peblair, @phated, @marcusroberts, @jozanza

chore: Apply suggestions from code review
  compiler/src/utils/warnings.re
Owners: @phated, @ospencer, @marcusroberts, @peblair, @jozanza

chore: Regen grain doc
  stdlib/runtime/debugPrint.md
Owners: @ospencer, @peblair, @jozanza, @phated

chore: Snapshot update
  compiler/test/__snapshots__/basic_functionality.1bf5759c.0.snapshot
Owners: @ospencer, @phated, @peblair

chore: Update tests
  compiler/test/__snapshots__/basic_functionality.1bf5759c.0.snapshot
Owners: @ospencer, @phated, @peblair

chore: Support `Rational` and `Bigint`
  compiler/src/typed/typed_well_formedness.re
  compiler/src/utils/warnings.re
  compiler/src/utils/warnings.rei
  compiler/test/suites/numbers.re
Owners: @ospencer, @peblair, @phated, @marcusroberts, @jozanza

chore(compiler): Add `fromNumber(<literal>)` warning for `short` types
  compiler/src/typed/typed_well_formedness.re
  compiler/src/utils/warnings.re
  compiler/src/utils/warnings.rei
  compiler/test/suites/numbers.re
Owners: @ospencer, @peblair, @phated, @marcusroberts, @jozanza

chore: Add tests
  compiler/test/suites/numbers.re
Owners: @ospencer, @phated, @peblair

chore(stdlib): Improve `Number` docs
  stdlib/number.gr
  stdlib/number.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Regen graindoc
  stdlib/number.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Regen graindoc
  stdlib/number.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

Rebase on main
  stdlib/json.gr
  stdlib/runtime/string.gr
  stdlib/runtime/string.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Remove formatting options
  compiler/test/stdlib/json.test.gr
  stdlib/json.gr
  stdlib/json.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Cleanup
  stdlib/json.gr
  stdlib/json.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Apply suggestions from code review
  stdlib/json.gr
  stdlib/json.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Apply suggestions from code review
  stdlib/json.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

feat: Add Full Number Parsing And Tests
  compiler/test/stdlib/json.test.gr
  compiler/test/suites/stdlib.re
  stdlib/json.gr
  stdlib/json.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Apply suggestions from code review
  compiler/test/stdlib/json.test.gr
  stdlib/json.gr
  stdlib/json.md
  stdlib/runtime/string.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Apply changes for new syntax
  compiler/test/stdlib/json.test.gr
  stdlib/json.gr
  stdlib/runtime/string.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

Fixed calling convention issue caused by coerceNumberToWasmI32 ported to @unsafe.
  stdlib/json.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Small optimization, avoid closure on common identation setting
  stdlib/json.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Apply suggestions from code review
  stdlib/json.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

.github/CODEOWNERS:

# In the format of:
# FILE @PRIMARY_OWNER ...@SECONDARY_OWNERS

# Order of precendence is top-to-bottom. The last line to match a file will assign the codeowners

# Deliberately no catch-all so we know when we need to add something to this file

/.gitpod.Dockerfile                         @marcusroberts @ospencer
/.gitpod.yml                                @marcusroberts @ospencer
/README.md                                  @ospencer @phated @peblair

/.vscode/                                   @phated @ospencer

/docs/                                      @ospencer @phated @peblair @marcusroberts @jozanza

/.github/workflows/ci.yml                   @phated @ospencer
/.github/workflows/docker-publish.yml       @ospencer @phated
/.github/workflows/release.yml              @phated @ospencer

/cli/.prettierignore                        @ospencer @phated @jozanza
/cli/.prettierrc.json                       @ospencer @phated @jozanza
/cli/__test__/                              @jozanza @phated @ospencer @peblair
/cli/bin/                                   @phated @ospencer @marcusroberts
/cli/package.json                           @phated @ospencer

/compiler/esy.lock/                         @phated @ospencer
/compiler/dune-project                      @ospencer @phated
/compiler/dune-workspace                    @ospencer @phated
/compiler/dune                              @ospencer @phated
/compiler/src/dune                          @phated @ospencer
/compiler/test/                             @ospencer @phated @peblair
/compiler/test/formatter_inputs             @marcusroberts @phated @ospencer
/compiler/test/formatter_outputs            @marcusroberts @phated @ospencer
/compiler/test/stdlib/                      @ospencer @phated @peblair @marcusroberts @jozanza
/compiler/grainc/                           @peblair @phated @ospencer
/compiler/graindoc/                         @phated @marcusroberts @ospencer
/compiler/grainformat/                      @marcusroberts @phated @ospencer
/compiler/grainlsp/                         @marcusroberts @phated @ospencer
/compiler/src/codegen/                      @ospencer @peblair @phated
/compiler/src/diagnostics/                  @marcusroberts @ospencer @phated
/compiler/src/formatting/                   @marcusroberts @phated @ospencer
/compiler/src/language_server/              @marcusroberts @ospencer @phated
/compiler/src/linking/                      @ospencer @phated @peblair
/compiler/src/middle_end/                   @ospencer @peblair @phated
/compiler/src/parsing/                      @ospencer @peblair @phated @marcusroberts
/compiler/src/typed/                        @ospencer @peblair @phated
/compiler/src/utils/                        @phated @ospencer @marcusroberts @peblair @jozanza
/compiler/src/compile.re                    @ospencer @peblair @phated
/compiler/src/compile.rei                   @ospencer @peblair @phated
/compiler/esy.json                          @ospencer @phated
/compiler/package.json                      @ospencer @phated

/stdlib/                                    @ospencer @phated @peblair @marcusroberts @jozanza
/stdlib/runtime/                            @ospencer @peblair @jozanza @phated
/stdlib/package.json                        @phated @ospencer
/stdlib/index.js                            @phated @ospencer
/stdlib/LICENSE                             @ospencer @peblair

/.gitattributes                             @phated @ospencer
/.gitignore                                 @phated @ospencer
/CODE_OF_CONDUCT.md                         @ospencer @phated
/CONTRIBUTING.md                            @ospencer @peblair @phated @marcusroberts @jozanza
/.dockerignore                              @ospencer @peblair
/Dockerfile                                 @ospencer @peblair @phated
/Dockerfile-slim                            @ospencer @peblair @phated
/.npmrc                                     @phated @ospencer
/package-lock.json                          @phated @ospencer
/package.json                               @phated @ospencer
/release-please-config.json                 @phated @ospencer
/LICENSE                                    @ospencer @peblair
