Repository grain-lang/grain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marcusroberts, @ospencer, @phated, @peblair, @jozanza

.github/CODEOWNERS:

# In the format of:
# FILE @PRIMARY_OWNER ...@SECONDARY_OWNERS

# Order of precendence is top-to-bottom. The last line to match a file will assign the codeowners

# Deliberately no catch-all so we know when we need to add something to this file

/.gitpod.Dockerfile                         @marcusroberts @ospencer
/.gitpod.yml                                @marcusroberts @ospencer
/README.md                                  @ospencer @phated @peblair

/.vscode/                                   @phated @ospencer

/docs/                                      @ospencer @phated @peblair @marcusroberts @jozanza

/.github/workflows/ci.yml                   @phated @ospencer
/.github/workflows/docker-publish.yml       @ospencer @phated
/.github/workflows/release.yml              @phated @ospencer

/cli/.prettierignore                        @ospencer @phated @jozanza
/cli/.prettierrc.json                       @ospencer @phated @jozanza
/cli/__test__/                              @jozanza @phated @ospencer @peblair
/cli/bin/                                   @phated @ospencer @marcusroberts
/cli/package.json                           @phated @ospencer

/compiler/esy.lock/                         @phated @ospencer
/compiler/dune-project                      @ospencer @phated
/compiler/dune-workspace                    @ospencer @phated
/compiler/dune                              @ospencer @phated
/compiler/src/dune                          @phated @ospencer
/compiler/test/                             @ospencer @phated @peblair
/compiler/test/formatter_inputs             @marcusroberts @phated @ospencer
/compiler/test/formatter_outputs            @marcusroberts @phated @ospencer
/compiler/test/stdlib/                      @ospencer @phated @peblair @marcusroberts @jozanza
/compiler/grainc/                           @peblair @phated @ospencer
/compiler/graindoc/                         @phated @marcusroberts @ospencer
/compiler/grainformat/                      @marcusroberts @phated @ospencer
/compiler/grainlsp/                         @marcusroberts @phated @ospencer
/compiler/src/codegen/                      @ospencer @peblair @phated
/compiler/src/diagnostics/                  @marcusroberts @ospencer @phated
/compiler/src/formatting/                   @marcusroberts @phated @ospencer
/compiler/src/language_server/              @marcusroberts @ospencer @phated
/compiler/src/linking/                      @ospencer @phated @peblair
/compiler/src/middle_end/                   @ospencer @peblair @phated
/compiler/src/parsing/                      @ospencer @peblair @phated @marcusroberts
/compiler/src/typed/                        @ospencer @peblair @phated
/compiler/src/utils/                        @phated @ospencer @marcusroberts @peblair @jozanza
/compiler/src/compile.re                    @ospencer @peblair @phated
/compiler/src/compile.rei                   @ospencer @peblair @phated
/compiler/esy.json                          @ospencer @phated
/compiler/package.json                      @ospencer @phated

/stdlib/                                    @ospencer @phated @peblair @marcusroberts @jozanza
/stdlib/runtime/                            @ospencer @peblair @jozanza @phated
/stdlib/package.json                        @phated @ospencer
/stdlib/index.js                            @phated @ospencer
/stdlib/LICENSE                             @ospencer @peblair

/.gitattributes                             @phated @ospencer
/.gitignore                                 @phated @ospencer
/CODE_OF_CONDUCT.md                         @ospencer @phated
/CONTRIBUTING.md                            @ospencer @peblair @phated @marcusroberts @jozanza
/.dockerignore                              @ospencer @peblair
/Dockerfile                                 @ospencer @peblair @phated
/Dockerfile-slim                            @ospencer @peblair @phated
/.npmrc                                     @phated @ospencer
/package-lock.json                          @phated @ospencer
/package.json                               @phated @ospencer
/release-please-config.json                 @phated @ospencer
/LICENSE                                    @ospencer @peblair

chore: Apply suggestions from code review
  compiler/test/stdlib/json.test.gr
  stdlib/json.gr
  stdlib/json.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Begin switching to variant docs
  stdlib/json.gr
  stdlib/json.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Apply suggestions from code review
  stdlib/json.gr
  stdlib/json.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Correct GrainDoc
  stdlib/json.gr
  stdlib/json.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

Applied review suggestion to rename JSONParserImplHelper to JSONParserState.
  stdlib/json.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

Chore: Apply suggestions from code review
  compiler/test/stdlib/json.test.gr
  stdlib/json.gr
  stdlib/json.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

Migrated readCodePoint to @unsafe.
  stdlib/json.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

Chore: Switch to using options
  stdlib/json.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: rename `JsonWriterImplHelper`
  stdlib/json.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Apply suggestions from code review
  stdlib/json.gr
  stdlib/json.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: add more tests, fix rationals
  compiler/test/stdlib/json.test.gr
  stdlib/json.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Add escaping tests
  compiler/test/stdlib/json.test.gr
  stdlib/json.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: More cleanup
  stdlib/json.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Switch to variant docs
  stdlib/json.gr
  stdlib/json.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Regen grain doc
  stdlib/json.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

feat(stdlib): JSON parsing and printing.
  compiler/test/stdlib/json.test.gr
  stdlib/json.gr
  stdlib/json.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

Removed unnecessary recursion markers. Leftovers from @disableGC to @unsafe transition.
  stdlib/json.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Apply suggestions from code review
  stdlib/json.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Apply suggestions from code review
  stdlib/json.gr
  stdlib/json.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

Chore: Improve Examples
  stdlib/json.gr
  stdlib/json.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Apply suggestions from code review
  compiler/test/stdlib/json.test.gr
  stdlib/json.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

feat: Merge Compact And Pretty Writer
  stdlib/json.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

A few adjustments in comments about JSON enum.
  stdlib/json.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

Applied review suggestion to avoid a useless closure.
  stdlib/json.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Apply suggestions from code review
  stdlib/json.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Regen docs
  stdlib/json.gr
  stdlib/json.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

Converted number printing functions to @unsafe.
  stdlib/json.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Cleanup default stuff
  stdlib/json.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Apply suggestions from code review
  stdlib/json.gr
  stdlib/json.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Simplify pattern match
  compiler/src/typed/typed_well_formedness.re
Owners: @ospencer, @peblair, @phated

chore: Improve matching
  compiler/src/typed/typed_well_formedness.re
Owners: @ospencer, @peblair, @phated

Make attributes like other places, include module attrs in well-formedness check
  compiler/src/compile.re
  compiler/src/formatting/fmt.re
  compiler/src/parsing/driver.re
  compiler/src/parsing/parser_header.re
  compiler/src/parsing/parsetree.re
  compiler/src/parsing/parsetree_iter.re
  compiler/src/parsing/parsetree_iter.rei
  compiler/src/parsing/well_formedness.re
  compiler/src/utils/config.re
  compiler/src/utils/config.rei
  compiler/test/runner.re
  compiler/test/suites/arrays.re
  compiler/test/suites/basic_functionality.re
  compiler/test/suites/blocks.re
  compiler/test/suites/chars.re
  compiler/test/suites/comments.re
  compiler/test/suites/functions.re
  compiler/test/suites/parsing.re
  compiler/test/suites/strings.re
  compiler/test/test_utils.re
Owners: @ospencer, @peblair, @phated, @marcusroberts, @jozanza

Remove specialized enter_attribute function
  compiler/src/formatting/fmt.re
  compiler/src/parsing/parsetree.re
  compiler/src/parsing/parsetree_iter.re
  compiler/src/parsing/parsetree_iter.rei
  compiler/src/parsing/well_formedness.re
  compiler/test/runner.re
  compiler/test/suites/functions.re
Owners: @marcusroberts, @phated, @ospencer, @peblair

Adjust module attribute formatting
  compiler/src/formatting/fmt.re
  compiler/src/parsing/parsetree_iter.re
  compiler/src/parsing/parsetree_iter.rei
  compiler/test/grainfmt/comments.expected.gr
Owners: @marcusroberts, @phated, @ospencer, @peblair

chore(compiler): Add warning for `print` and `toString` with unsafe values (#2018)
  compiler/src/typed/typed_well_formedness.re
  compiler/src/utils/warnings.re
  compiler/src/utils/warnings.rei
  compiler/test/__snapshots__/basic_functionality.1bf5759c.0.snapshot
  stdlib/runtime/debugPrint.gr
  stdlib/runtime/debugPrint.md
Owners: @ospencer, @peblair, @phated, @marcusroberts, @jozanza

update comment test
  compiler/test/grainfmt/comments.expected.gr
  compiler/test/grainfmt/comments.input.gr
Owners: @ospencer, @phated, @peblair

restore printing of comments with no module attributes
  compiler/src/formatting/fmt.re
Owners: @marcusroberts, @phated, @ospencer

feat(stdlib)!: Move stdlib `sys` modules to `wasi`
  compiler/test/stdlib/wasi.file.test.gr
  compiler/test/stdlib/wasi.process.test.gr
  compiler/test/stdlib/wasi.random.test.gr
  compiler/test/stdlib/wasi.time.test.gr
  compiler/test/suites/stdlib.re
  compiler/test/suites/wasi_args.re
  stdlib/hash.gr
  stdlib/wasi/file.gr
  stdlib/wasi/file.md
  stdlib/wasi/process.gr
  stdlib/wasi/process.md
  stdlib/wasi/random.gr
  stdlib/wasi/random.md
  stdlib/wasi/time.gr
  stdlib/wasi/time.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

update random import
  stdlib/random.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

docs
  stdlib/wasi/file.md
  stdlib/wasi/process.md
  stdlib/wasi/random.md
  stdlib/wasi/time.gr
  stdlib/wasi/time.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza
