Repository grain-lang/grain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marcusroberts, @ospencer, @phated, @peblair, @jozanza

chore(compiler): Avoid processing rational literal before typing
  compiler/src/parsing/ast_helper.re
  compiler/src/parsing/lexer.re
  compiler/src/parsing/parsetree.re
  compiler/src/parsing/well_formedness.re
  compiler/src/typed/checkertypes.re
  compiler/src/typed/parmatch.re
Owners: @ospencer, @peblair, @phated, @marcusroberts

chore(compiler): Add tests for multiple-zero denominators in constants
  compiler/test/suites/numbers.re
Owners: @ospencer, @phated, @peblair

WIP string and bytes refactor
  compiler/src/parsing/ast_helper.re
  compiler/src/parsing/lexer.re
  compiler/src/typed/checkertypes.re
  compiler/src/typed/checkertypes.rei
  compiler/src/utils/dune
  compiler/src/utils/literals.re
  compiler/test/suites/basic_functionality.re
  compiler/test/suites/strings.re
Owners: @ospencer, @peblair, @phated, @marcusroberts, @jozanza

use real emojis in the tests
  compiler/test/suites/strings.re
Owners: @ospencer, @phated, @peblair

finish attributes, all tests passing
  compiler/src/parsing/ast_helper.re
  compiler/src/parsing/ast_helper.rei
  compiler/src/parsing/lexer.re
  compiler/src/parsing/parser.mly
Owners: @ospencer, @peblair, @phated, @marcusroberts

fix error messages
  compiler/src/utils/literals.re
Owners: @phated, @ospencer, @marcusroberts, @peblair, @jozanza

fix(stdlib)!: Add a lookup table to `Numbr.sin` to improve trig accuracy
  stdlib/number.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: correct behaviour
  compiler/test/stdlib/number.test.gr
  stdlib/number.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

cleanup and handle chars
  compiler/src/parsing/lexer.re
  compiler/src/parsing/well_formedness.re
  compiler/src/typed/checkertypes.re
  compiler/src/utils/literals.re
  compiler/test/suites/chars.re
  compiler/test/suites/strings.re
Owners: @ospencer, @peblair, @phated, @marcusroberts, @jozanza

reword constant -> literal
  compiler/src/utils/literals.re
Owners: @phated, @ospencer, @marcusroberts, @peblair, @jozanza

one more typo
  compiler/src/parsing/lexer.re
Owners: @ospencer, @peblair, @phated, @marcusroberts

chore(stdlib): Cleanup unnecessary `mut` and `rec` (#2021)
  stdlib/array.gr
  stdlib/buffer.gr
  stdlib/pervasives.gr
  stdlib/string.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Apply suggestions from code review
  stdlib/float64.gr
  stdlib/float64.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Apply suggestions from code review
  stdlib/float32.gr
  stdlib/float32.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

add locs to constants
  compiler/src/parsing/ast_helper.rei
  compiler/src/parsing/parser.mly
  compiler/src/parsing/parsetree.re
  compiler/src/parsing/well_formedness.re
Owners: @ospencer, @peblair, @phated, @marcusroberts

Apply suggestions from code review
  compiler/src/parsing/ast_helper.re
  compiler/src/parsing/lexer.re
Owners: @ospencer, @peblair, @phated, @marcusroberts

fix rational locs
  compiler/src/parsing/parser.mly
Owners: @ospencer, @peblair, @phated, @marcusroberts

compiler building and tests passing for constant locs
  compiler/src/formatting/format.re
  compiler/src/typed/checkertypes.re
  compiler/src/typed/parmatch.re
  compiler/src/typed/translprim.re
  compiler/test/suites/arrays.re
  compiler/test/suites/basic_functionality.re
  compiler/test/suites/chars.re
  compiler/test/suites/parsing.re
  compiler/test/suites/strings.re
  compiler/test/test_utils.re
Owners: @marcusroberts, @phated, @ospencer, @peblair

check for underscores in 0 denom
  compiler/src/parsing/well_formedness.re
  compiler/test/suites/numbers.re
Owners: @ospencer, @peblair, @phated, @marcusroberts

chore(compiler): Refactor literals in the lexer (#2030)
  compiler/src/formatting/format.re
  compiler/src/parsing/ast_helper.re
  compiler/src/parsing/ast_helper.rei
  compiler/src/parsing/lexer.re
  compiler/src/parsing/parser.mly
  compiler/src/parsing/parsetree.re
  compiler/src/parsing/well_formedness.re
  compiler/src/typed/checkertypes.re
  compiler/src/typed/checkertypes.rei
  compiler/src/typed/parmatch.re
  compiler/src/typed/translprim.re
  compiler/src/utils/dune
  compiler/src/utils/literals.re
  compiler/test/suites/arrays.re
  compiler/test/suites/basic_functionality.re
  compiler/test/suites/chars.re
  compiler/test/suites/numbers.re
  compiler/test/suites/parsing.re
  compiler/test/suites/strings.re
  compiler/test/test_utils.re
Owners: @marcusroberts, @phated, @ospencer, @peblair, @jozanza

Print constants when we are able
  compiler/src/formatting/fmt.re
  compiler/src/parsing/ast_helper.re
  compiler/src/parsing/ast_helper.rei
  compiler/src/parsing/parser.mly
  compiler/src/parsing/parsetree.re
  compiler/src/parsing/well_formedness.re
  compiler/src/typed/checkertypes.re
  compiler/src/typed/parmatch.re
  compiler/test/grainfmt/binops.expected.gr
  compiler/test/grainfmt/comments.expected.gr
  compiler/test/grainfmt/comments.input.gr
  compiler/test/grainfmt/strings.expected.gr
  compiler/test/grainfmt/strings.input.gr
  compiler/test/stdlib/number.test.gr
Owners: @marcusroberts, @phated, @ospencer, @peblair, @jozanza

Print constants when we are able (#2009)
  compiler/src/formatting/fmt.re
  compiler/src/parsing/ast_helper.re
  compiler/src/parsing/ast_helper.rei
  compiler/src/parsing/parser.mly
  compiler/src/parsing/parsetree.re
  compiler/src/parsing/well_formedness.re
  compiler/src/typed/checkertypes.re
  compiler/src/typed/parmatch.re
  compiler/test/grainfmt/binops.expected.gr
  compiler/test/grainfmt/comments.expected.gr
  compiler/test/grainfmt/comments.input.gr
  compiler/test/grainfmt/strings.expected.gr
  compiler/test/grainfmt/strings.input.gr
  compiler/test/stdlib/number.test.gr
Owners: @marcusroberts, @phated, @ospencer, @peblair, @jozanza

Implement record pattern for formatter
  compiler/grainformat/grainformat.re
  compiler/src/diagnostics/commenttree.re
  compiler/src/diagnostics/commenttree.rei
  compiler/src/formatting/doc.re
  compiler/src/formatting/doc.rei
  compiler/src/formatting/fmt.re
  compiler/src/language_server/formatting.re
  compiler/test/grainfmt/aliases.expected.gr
  compiler/test/grainfmt/comments.expected.gr
  compiler/test/grainfmt/patterns.expected.gr
  compiler/test/grainfmt/patterns.input.gr
  compiler/test/grainfmt/records.expected.gr
  compiler/test/grainfmt/variants.expected.gr
  stdlib/marshal.gr
  stdlib/range.gr
  stdlib/regex.gr
Owners: @marcusroberts, @phated, @ospencer, @peblair, @jozanza

attach comments and source to the record and only override them
  compiler/src/formatting/fmt.re
Owners: @marcusroberts, @phated, @ospencer

Implement record pattern for formatter (#2007)
  compiler/grainformat/grainformat.re
  compiler/src/diagnostics/commenttree.re
  compiler/src/diagnostics/commenttree.rei
  compiler/src/formatting/fmt.re
  compiler/src/language_server/formatting.re
Owners: @marcusroberts, @phated, @ospencer

chore(docs): Add examples to `Float32` module (#2012)
  stdlib/float32.gr
  stdlib/float32.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore(docs): Add examples to the `Float64` module (#2013)
  stdlib/float64.gr
  stdlib/float64.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

feat(compiler): Update `use` syntax
  compiler/src/formatting/fmt.re
  compiler/src/parsing/parser.messages
  compiler/src/parsing/parser.mly
  compiler/test/grainfmt/comments.expected.gr
  compiler/test/grainfmt/comments.input.gr
Owners: @marcusroberts, @phated, @ospencer, @peblair

WIP range syntax
  compiler/src/parsing/ast_helper.re
  compiler/src/parsing/ast_helper.rei
  compiler/src/parsing/lexer.re
  compiler/src/parsing/parser.mly
Owners: @ospencer, @peblair, @phated, @marcusroberts

more WIP
  compiler/src/formatting/fmt.re
  compiler/src/middle_end/linearize.re
  compiler/src/parsing/ast_helper.re
  compiler/src/parsing/ast_helper.rei
  compiler/src/parsing/ast_mapper.re
  compiler/src/parsing/parser.mly
  compiler/src/parsing/parsetree.re
  compiler/src/parsing/parsetree_iter.re
  compiler/src/typed/btype.re
  compiler/src/typed/builtin_types.re
  compiler/src/typed/ctype.re
  compiler/src/typed/datarepr.re
  compiler/src/typed/oprint.re
  compiler/src/typed/outcometree.re
  compiler/src/typed/printtyp.re
  compiler/src/typed/subst.re
  compiler/src/typed/translsig.re
  compiler/src/typed/type_utils.re
  compiler/src/typed/typecore.re
  compiler/src/typed/typed_well_formedness.re
  compiler/src/typed/typedtree.re
  compiler/src/typed/typedtree.rei
  compiler/src/typed/typedtreeIter.re
  compiler/src/typed/typedtreeMap.re
  compiler/src/typed/typemod.re
  compiler/src/typed/types.re
  compiler/test/stdlib/range.test.gr
Owners: @marcusroberts, @phated, @ospencer, @peblair, @jozanza

Update parser message
  compiler/src/parsing/parser.messages
Owners: @ospencer, @peblair, @phated, @marcusroberts

fix(compiler): Ensure constant number locations are propagated correctly when parsing
  compiler/src/parsing/parser.messages
  compiler/src/parsing/parser.mly
  compiler/test/grainfmt/comments.expected.gr
  compiler/test/grainfmt/comments.input.gr
Owners: @ospencer, @peblair, @phated, @marcusroberts

chore(stdlib): Remove the `Debug` module from the runtime (#2017)
  stdlib/runtime/debug.gr
  stdlib/runtime/debug.md
Owners: @ospencer, @peblair, @jozanza, @phated

fix(compiler): Ensure constant number locations are propagated correctly when parsing (#2044)
  compiler/src/parsing/parser.messages
  compiler/src/parsing/parser.mly
  compiler/test/grainfmt/comments.expected.gr
  compiler/test/grainfmt/comments.input.gr
Owners: @ospencer, @peblair, @phated, @marcusroberts

feat(compiler)!: Update include syntax
  compiler/src/formatting/fmt.re
  compiler/src/parsing/ast_helper.re
  compiler/src/parsing/ast_helper.rei
  compiler/src/parsing/ast_mapper.re
  compiler/src/parsing/parser.messages
  compiler/src/parsing/parser.mly
  compiler/src/parsing/parser_header.re
  compiler/src/parsing/parsetree.re
  compiler/src/typed/typemod.re
  compiler/src/typed/typemod.rei
  compiler/test/suites/includes.re
Owners: @marcusroberts, @phated, @ospencer, @peblair

fix(stdlib): Pad strings/bytes marshal representation with zeros
  compiler/test/stdlib/marshal.test.gr
  stdlib/marshal.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore(compiler): Avoid round trip between string and bytes when reading cmi
  compiler/src/typed/cmi_format.re
  compiler/src/utils/wasm_utils.re
  compiler/src/utils/wasm_utils.rei
Owners: @ospencer, @peblair, @phated, @marcusroberts, @jozanza

fmt
  compiler/src/typed/cmi_format.re
  compiler/src/utils/wasm_utils.re
  compiler/src/utils/wasm_utils.rei
Owners: @ospencer, @peblair, @phated, @marcusroberts, @jozanza

chore(stdlib)!: Remove `sin`, `cos`, `tan`, `gamma`, and `factorial` functions in `Number` module
  compiler/test/stdlib/number.test.gr
  stdlib/number.gr
  stdlib/number.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

feat(lsp): Add hover for submodules (#2028)
  compiler/src/language_server/hover.re
  compiler/src/language_server/sourcetree.re
Owners: @marcusroberts, @ospencer, @phated

.github/CODEOWNERS:

# In the format of:
# FILE @PRIMARY_OWNER ...@SECONDARY_OWNERS

# Order of precendence is top-to-bottom. The last line to match a file will assign the codeowners

# Deliberately no catch-all so we know when we need to add something to this file

/.gitpod.Dockerfile                         @marcusroberts @ospencer
/.gitpod.yml                                @marcusroberts @ospencer
/README.md                                  @ospencer @phated @peblair

/.vscode/                                   @phated @ospencer

/docs/                                      @ospencer @phated @peblair @marcusroberts @jozanza

/.github/workflows/ci.yml                   @phated @ospencer
/.github/workflows/docker-publish.yml       @ospencer @phated
/.github/workflows/release.yml              @phated @ospencer

/cli/.prettierignore                        @ospencer @phated @jozanza
/cli/.prettierrc.json                       @ospencer @phated @jozanza
/cli/__test__/                              @jozanza @phated @ospencer @peblair
/cli/bin/                                   @phated @ospencer @marcusroberts
/cli/package.json                           @phated @ospencer

/compiler/esy.lock/                         @phated @ospencer
/compiler/dune-project                      @ospencer @phated
/compiler/dune-workspace                    @ospencer @phated
/compiler/dune                              @ospencer @phated
/compiler/src/dune                          @phated @ospencer
/compiler/test/                             @ospencer @phated @peblair
/compiler/test/formatter_inputs             @marcusroberts @phated @ospencer
/compiler/test/formatter_outputs            @marcusroberts @phated @ospencer
/compiler/test/stdlib/                      @ospencer @phated @peblair @marcusroberts @jozanza
/compiler/grainc/                           @peblair @phated @ospencer
/compiler/graindoc/                         @phated @marcusroberts @ospencer
/compiler/grainformat/                      @marcusroberts @phated @ospencer
/compiler/grainlsp/                         @marcusroberts @phated @ospencer
/compiler/src/codegen/                      @ospencer @peblair @phated
/compiler/src/diagnostics/                  @marcusroberts @ospencer @phated
/compiler/src/formatting/                   @marcusroberts @phated @ospencer
/compiler/src/language_server/              @marcusroberts @ospencer @phated
/compiler/src/linking/                      @ospencer @phated @peblair
/compiler/src/middle_end/                   @ospencer @peblair @phated
/compiler/src/parsing/                      @ospencer @peblair @phated @marcusroberts
/compiler/src/typed/                        @ospencer @peblair @phated
/compiler/src/utils/                        @phated @ospencer @marcusroberts @peblair @jozanza
/compiler/src/compile.re                    @ospencer @peblair @phated
/compiler/src/compile.rei                   @ospencer @peblair @phated
/compiler/esy.json                          @ospencer @phated
/compiler/package.json                      @ospencer @phated

/stdlib/                                    @ospencer @phated @peblair @marcusroberts @jozanza
/stdlib/runtime/                            @ospencer @peblair @jozanza @phated
/stdlib/package.json                        @phated @ospencer
/stdlib/index.js                            @phated @ospencer
/stdlib/LICENSE                             @ospencer @peblair

/.gitattributes                             @phated @ospencer
/.gitignore                                 @phated @ospencer
/CODE_OF_CONDUCT.md                         @ospencer @phated
/CONTRIBUTING.md                            @ospencer @peblair @phated @marcusroberts @jozanza
/.dockerignore                              @ospencer @peblair
/Dockerfile                                 @ospencer @peblair @phated
/Dockerfile-slim                            @ospencer @peblair @phated
/.npmrc                                     @phated @ospencer
/package-lock.json                          @phated @ospencer
/package.json                               @phated @ospencer
/release-please-config.json                 @phated @ospencer
/LICENSE                                    @ospencer @peblair
