Repository grain-lang/grain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marcusroberts, @ospencer, @phated, @peblair, @jozanza

.github/CODEOWNERS:

# In the format of:
# FILE @PRIMARY_OWNER ...@SECONDARY_OWNERS

# Order of precendence is top-to-bottom. The last line to match a file will assign the codeowners

# Deliberately no catch-all so we know when we need to add something to this file

/.gitpod.Dockerfile                         @marcusroberts @ospencer
/.gitpod.yml                                @marcusroberts @ospencer
/README.md                                  @ospencer @phated @peblair

/.vscode/                                   @phated @ospencer

/docs/                                      @ospencer @phated @peblair @marcusroberts @jozanza

/.github/workflows/ci.yml                   @phated @ospencer
/.github/workflows/docker-publish.yml       @ospencer @phated
/.github/workflows/release.yml              @phated @ospencer

/cli/.prettierignore                        @ospencer @phated @jozanza
/cli/.prettierrc.json                       @ospencer @phated @jozanza
/cli/__test__/                              @jozanza @phated @ospencer @peblair
/cli/bin/                                   @phated @ospencer @marcusroberts
/cli/package.json                           @phated @ospencer

/compiler/esy.lock/                         @phated @ospencer
/compiler/dune-project                      @ospencer @phated
/compiler/dune-workspace                    @ospencer @phated
/compiler/dune                              @ospencer @phated
/compiler/src/dune                          @phated @ospencer
/compiler/test/                             @ospencer @phated @peblair
/compiler/test/formatter_inputs             @marcusroberts @phated @ospencer
/compiler/test/formatter_outputs            @marcusroberts @phated @ospencer
/compiler/test/stdlib/                      @ospencer @phated @peblair @marcusroberts @jozanza
/compiler/grainc/                           @peblair @phated @ospencer
/compiler/graindoc/                         @phated @marcusroberts @ospencer
/compiler/grainformat/                      @marcusroberts @phated @ospencer
/compiler/grainlsp/                         @marcusroberts @phated @ospencer
/compiler/src/codegen/                      @ospencer @peblair @phated
/compiler/src/diagnostics/                  @marcusroberts @ospencer @phated
/compiler/src/formatting/                   @marcusroberts @phated @ospencer
/compiler/src/language_server/              @marcusroberts @ospencer @phated
/compiler/src/linking/                      @ospencer @phated @peblair
/compiler/src/middle_end/                   @ospencer @peblair @phated
/compiler/src/parsing/                      @ospencer @peblair @phated @marcusroberts
/compiler/src/typed/                        @ospencer @peblair @phated
/compiler/src/utils/                        @phated @ospencer @marcusroberts @peblair @jozanza
/compiler/src/compile.re                    @ospencer @peblair @phated
/compiler/src/compile.rei                   @ospencer @peblair @phated
/compiler/esy.json                          @ospencer @phated
/compiler/package.json                      @ospencer @phated

/stdlib/                                    @ospencer @phated @peblair @marcusroberts @jozanza
/stdlib/runtime/                            @ospencer @peblair @jozanza @phated
/stdlib/package.json                        @phated @ospencer
/stdlib/index.js                            @phated @ospencer
/stdlib/LICENSE                             @ospencer @peblair

/.gitattributes                             @phated @ospencer
/.gitignore                                 @phated @ospencer
/CODE_OF_CONDUCT.md                         @ospencer @phated
/CONTRIBUTING.md                            @ospencer @peblair @phated @marcusroberts @jozanza
/.dockerignore                              @ospencer @peblair
/Dockerfile                                 @ospencer @peblair @phated
/Dockerfile-slim                            @ospencer @peblair @phated
/.npmrc                                     @phated @ospencer
/package-lock.json                          @phated @ospencer
/package.json                               @phated @ospencer
/release-please-config.json                 @phated @ospencer
/LICENSE                                    @ospencer @peblair

chore: Switch to warnings rather than errors
  compiler/src/parsing/well_formedness.re
  compiler/src/utils/warnings.re
  compiler/src/utils/warnings.rei
  compiler/test/suites/arrays.re
Owners: @ospencer, @peblair, @phated, @marcusroberts, @jozanza

chore(compiler): Improve warning when omitting fields in record pattern
  compiler/src/utils/warnings.re
Owners: @phated, @ospencer, @marcusroberts, @peblair, @jozanza

chore: tests
  compiler/test/suites/records.re
Owners: @ospencer, @phated, @peblair

Test only clocks
  compiler/test/stdlib/wasi.event.test.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

chore: Apply suggestions from oscar code review
  compiler/src/utils/warnings.re
  compiler/test/suites/records.re
Owners: @phated, @ospencer, @marcusroberts, @peblair, @jozanza

chore: Apply suggestions from oscar code review
  compiler/src/utils/warnings.re
Owners: @phated, @ospencer, @marcusroberts, @peblair, @jozanza

fix(stdlib): Avoid WASI random_get in Hash stdlib during module startup (#2078)
  stdlib/hash.gr
  stdlib/hash.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

feat(compiler): Improve warning when omitting fields in record pattern (#2079)
  compiler/src/utils/warnings.re
  compiler/test/suites/records.re
Owners: @phated, @ospencer, @marcusroberts, @peblair, @jozanza

feat(compiler): Add warning for non-integer array indices (#2077)
  compiler/src/parsing/well_formedness.re
  compiler/src/utils/warnings.re
  compiler/src/utils/warnings.rei
  compiler/test/suites/arrays.re
Owners: @ospencer, @peblair, @phated, @marcusroberts, @jozanza

fix(compiler): Fix array infix assign semantics
  compiler/src/formatting/fmt.re
  compiler/src/middle_end/linearize.re
  compiler/src/parsing/ast_helper.re
  compiler/src/parsing/ast_helper.rei
  compiler/src/parsing/ast_mapper.re
  compiler/src/parsing/parser.mly
  compiler/src/parsing/parsetree.re
  compiler/src/parsing/parsetree_iter.re
  compiler/src/parsing/well_formedness.re
  compiler/src/typed/typecore.re
  compiler/src/typed/typedtree.re
  compiler/src/typed/typedtree.rei
  compiler/src/typed/typedtreeIter.re
  compiler/src/typed/typedtreeMap.re
  compiler/test/grainfmt/arrays.expected.gr
  compiler/test/grainfmt/arrays.input.gr
  compiler/test/suites/arrays.re
Owners: @marcusroberts, @phated, @ospencer, @peblair

fix(grainfmt): Fix formatting of `default` argument types
  compiler/src/formatting/fmt.re
  compiler/test/grainfmt/function_params.expected.gr
  compiler/test/grainfmt/function_params.input.gr
Owners: @marcusroberts, @phated, @ospencer, @peblair

chore(stdlib): Improve `Invalid offset` warning in `charAt`
  stdlib/string.gr
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza

fix(grainfmt): Fix formatting of `default` argument types (#2081)
  compiler/src/formatting/fmt.re
  compiler/test/grainfmt/function_params.expected.gr
  compiler/test/grainfmt/function_params.input.gr
Owners: @marcusroberts, @phated, @ospencer, @peblair

chore(stdlib): Cleanup json libary (#2063)
  stdlib/json.gr
  stdlib/json.md
  stdlib/runtime/numberUtils.gr
  stdlib/runtime/numberUtils.md
Owners: @ospencer, @phated, @peblair, @marcusroberts, @jozanza
