Repository grain-lang/grain, pull requests merged in 2020-09, with the labels that each got.

#280 Add string concatenation to Pervasives
  compiler/src/parsing/lexer.mll
  compiler/src/parsing/parser.dyp
  compiler/test/test_end_to_end.re
  stdlib/pervasives.gr
  stdlib/stdlib-external/runtime.ts
  stdlib/stdlib-external/runtime/string.ts
  stdlib/stdlib-external/string.ts
  stdlib/string.gr
Labels: enhancement, stdlib

#292 Fix printing of constructors for exhaustiveness checking
  compiler/src/typed/printpat.re
Labels: bug

#286 Support pattern matching with guards
  compiler/src/middle_end/anftree.re
  compiler/src/middle_end/anftree.rei
  compiler/src/middle_end/linearize.re
  compiler/src/middle_end/matchcomp.re
  compiler/src/parsing/ast_helper.re
  compiler/src/parsing/ast_helper.rei
  compiler/src/parsing/ast_mapper.re
  compiler/src/parsing/lexer.mll
  compiler/src/parsing/parser.dyp
  compiler/src/parsing/parsetree.re
  compiler/src/typed/parmatch.re
  compiler/src/typed/typecore.re
  compiler/src/typed/typedtree.re
  compiler/src/typed/typedtree.rei
  compiler/test/test_end_to_end.re
Labels: enhancement

#296 Operator precedence adherence
  compiler/src/parsing/parser.dyp
  compiler/test/test_end_to_end.re
  stdlib/sys/file.gr
Labels: bug

#298 Number System
  compiler/src/codegen/compcore.re
  compiler/src/codegen/mashtree.re
  compiler/src/codegen/runtime_errors.re
  compiler/src/codegen/runtime_errors.rei
  compiler/src/codegen/transl_anf.re
  compiler/src/codegen/value_tags.re
  compiler/src/middle_end/analyze_purity.re
  compiler/src/middle_end/analyze_tail_calls.re
  compiler/src/middle_end/anf_helper.re
  compiler/src/middle_end/anf_helper.rei
  compiler/src/middle_end/anf_iterator.re
  compiler/src/middle_end/anf_mapper.re
  compiler/src/middle_end/anf_utils.re
  compiler/src/middle_end/anftree.re
  compiler/src/middle_end/anftree.rei
  compiler/src/middle_end/linearize.re
  compiler/src/middle_end/optimize_simple_binops.re
  compiler/src/parsing/ast_helper.re
  compiler/src/parsing/ast_helper.rei
  compiler/src/parsing/asttypes.re
  compiler/src/parsing/lexer.mll
  compiler/src/parsing/parser.dyp
  compiler/src/parsing/parsetree.re
  compiler/src/parsing/well_formedness.re
  compiler/src/typed/builtin_types.re
  compiler/src/typed/checkertypes.re
  compiler/src/typed/parmatch.re
  compiler/src/typed/printpat.re
  compiler/src/typed/translprim.re
  compiler/src/typed/typecore.re
  compiler/src/typed/typedtree.re
  compiler/src/typed/typedtree.rei
  compiler/test/stdlib/float32.test.gr
  compiler/test/stdlib/float64.test.gr
  compiler/test/stdlib/hash.test.gr
  compiler/test/stdlib/int32.test.gr
  compiler/test/test_end_to_end.re
  docs/contributor/data_representations.md
  runtime/src/core/tags.js
  runtime/src/errors/error-codes.js
  runtime/src/errors/errors.js
  runtime/src/runtime.js
  runtime/src/utils/utils.js
  stdlib/float32.gr
  stdlib/float64.gr
  stdlib/int32.gr
  stdlib/int64.gr
  stdlib/pervasives.gr
  stdlib/stdlib-external/ascutils/console.ts
  stdlib/stdlib-external/ascutils/dataStructures.ts
  stdlib/stdlib-external/ascutils/errors.ts
  stdlib/stdlib-external/ascutils/tags.ts
  stdlib/stdlib-external/equal.ts
  stdlib/stdlib-external/hash.ts
  stdlib/stdlib-external/numbers.ts
  stdlib/stdlib-external/runtime.ts
Labels: enhancement

#326 Refactor number parsing
  compiler/src/codegen/transl_anf.re
  compiler/src/middle_end/analyze_purity.re
  compiler/src/middle_end/analyze_tail_calls.re
  compiler/src/middle_end/anf_helper.re
  compiler/src/middle_end/anf_helper.rei
  compiler/src/middle_end/anf_iterator.re
  compiler/src/middle_end/anf_mapper.re
  compiler/src/middle_end/anf_utils.re
  compiler/src/middle_end/anftree.re
  compiler/src/middle_end/anftree.rei
  compiler/src/middle_end/linearize.re
  compiler/src/middle_end/matchcomp.re
  compiler/src/middle_end/optimize_constants.re
  compiler/src/middle_end/optimize_simple_binops.re
  compiler/src/middle_end/optimize_tail_calls.re
  compiler/src/parsing/ast_helper.re
  compiler/src/parsing/ast_helper.rei
  compiler/src/parsing/asttypes.re
  compiler/src/parsing/lexer.mll
  compiler/src/parsing/parser.dyp
  compiler/src/parsing/parsetree.re
  compiler/src/parsing/well_formedness.re
  compiler/src/typed/checkertypes.re
  compiler/src/typed/checkertypes.rei
  compiler/src/typed/parmatch.re
  compiler/src/typed/printpat.re
  compiler/src/typed/typecore.re
  compiler/src/typed/typecore.rei
  compiler/src/utils/literals.re
  compiler/test/test_end_to_end.re
Labels: cleanup, compiler

#331 Implement pattern matching on constants
  compiler/src/codegen/compcore.re
  compiler/src/codegen/mashtree.re
  compiler/src/middle_end/anftree.re
  compiler/src/middle_end/anftree.rei
  compiler/src/middle_end/matchcomp.re
  compiler/src/parsing/parser.dyp
  compiler/src/parsing/parsetree.re
  compiler/src/typed/parmatch.re
  compiler/src/typed/translprim.re
  compiler/src/typed/typecore.re
  compiler/src/typed/typedtree.re
  compiler/src/typed/typedtree.rei
  compiler/test/test_end_to_end.re
  stdlib/pervasives.gr
Labels: compiler, enhancement

#339 Remove [@implicit_arity] attributes
  compiler/src/codegen/compcore.re
  compiler/src/codegen/concatlist.re
  compiler/src/codegen/transl_anf.re
  compiler/src/middle_end/analyze_purity.re
  compiler/src/middle_end/analyze_tail_calls.re
  compiler/src/middle_end/anf_helper.re
  compiler/src/middle_end/anf_iterator.re
  compiler/src/middle_end/anf_mapper.re
  compiler/src/middle_end/anf_utils.re
  compiler/src/middle_end/linearize.re
  compiler/src/middle_end/matchcomp.re
  compiler/src/middle_end/optimize_common_subexpressions.re
  compiler/src/middle_end/optimize_constants.re
  compiler/src/middle_end/optimize_dead_assignments.re
  compiler/src/middle_end/optimize_dead_branches.re
  compiler/src/middle_end/optimize_simple_binops.re
  compiler/src/middle_end/optimize_tail_calls.re
  compiler/src/parsing/ast_helper.re
  compiler/src/parsing/ast_iterator.re
  compiler/src/parsing/ast_mapper.re
  compiler/src/parsing/driver.re
  compiler/src/parsing/identifier.re
  compiler/src/parsing/well_formedness.re
  compiler/src/typed/btype.re
  compiler/src/typed/builtin_types.re
  compiler/src/typed/cmi_format.re
  compiler/src/typed/ctype.re
  compiler/src/typed/datarepr.re
  compiler/src/typed/disambiguation.re
  compiler/src/typed/env.re
  compiler/src/typed/ident.re
  compiler/src/typed/includecore.re
  compiler/src/typed/includemod.re
  compiler/src/typed/mtype.re
  compiler/src/typed/oprint.re
  compiler/src/typed/parmatch.re
  compiler/src/typed/path.re
  compiler/src/typed/printpat.re
  compiler/src/typed/printtyp.re
  compiler/src/typed/subst.re
  compiler/src/typed/translsig.re
  compiler/src/typed/typecore.re
  compiler/src/typed/typedecl.re
  compiler/src/typed/typedtree.re
  compiler/src/typed/typedtreeIter.re
  compiler/src/typed/typedtreeMap.re
  compiler/src/typed/typemod.re
  compiler/src/typed/typepat.re
  compiler/src/typed/types.re
  compiler/src/typed/typetexp.re
  compiler/src/utils/config.re
  compiler/src/utils/consistbl.re
  compiler/src/utils/tbl.re
  compiler/src/utils/warnings.re
  compiler/src/utils/wasm_utils.re
Labels: cleanup, compiler

#340 Provide type-specific operator methods
  compiler/test/stdlib/int32.test.gr
  compiler/test/stdlib/int64.test.gr
  stdlib/float32.gr
  stdlib/float64.gr
  stdlib/int32.gr
  stdlib/int64.gr
  stdlib/stdlib-external/float32.ts
  stdlib/stdlib-external/float64.ts
  stdlib/stdlib-external/int32.ts
  stdlib/stdlib-external/int64.ts
  stdlib/stdlib-external/numbers.ts
  stdlib/sys/file.gr
Labels: compiler, stdlib
