Repository grain-lang/grain, pull requests merged in 2020-12, with the labels that each got.

#474 feat!: Char
  compiler/src/codegen/value_tags.re
  compiler/src/typed/builtin_types.re
  compiler/test/stdlib/char.test.gr
  compiler/test/stdlib/hash.test.gr
  compiler/test/stdlib/string.test.gr
  compiler/test/test_end_to_end.re
  docs/contributor/data_representations.md
  runtime/src/core/tags.js
  runtime/src/utils/utils.js
  stdlib/char.gr
  stdlib/stdlib-external/ascutils/dataStructures.ts
  stdlib/stdlib-external/ascutils/errors.ts
  stdlib/stdlib-external/ascutils/tags.ts
  stdlib/stdlib-external/char.ts
  stdlib/stdlib-external/equal.ts
  stdlib/stdlib-external/hash.ts
  stdlib/stdlib-external/string.ts
  stdlib/string.gr
Labels: enhancement, stdlib

#478 feat: Pattern matching on arrays
  compiler/src/middle_end/linearize.re
  compiler/src/middle_end/matchcomp.re
  compiler/src/parsing/ast_helper.re
  compiler/src/parsing/ast_helper.rei
  compiler/src/parsing/ast_iterator.re
  compiler/src/parsing/ast_mapper.re
  compiler/src/parsing/parser.dyp
  compiler/src/parsing/parsetree.re
  compiler/src/typed/parmatch.re
  compiler/src/typed/printpat.re
  compiler/src/typed/typedtree.re
  compiler/src/typed/typedtree.rei
  compiler/src/typed/typedtreeIter.re
  compiler/src/typed/typedtreeMap.re
  compiler/src/typed/typepat.re
  compiler/test/input/mixedPatternMatching.gr
Labels: enhancement

#489 feat(stdlib): String.implode
  compiler/test/stdlib/string.test.gr
  stdlib/stdlib-external/string.ts
  stdlib/string.gr
Labels: stdlib

#472 refactor: Migrate toString to AssemblyScript
  cli/bin/run.js
  compiler/src/codegen/compcore.re
  compiler/test/test_end_to_end.re
  runtime/src/core/closures.js
  runtime/src/core/memory.js
  runtime/src/core/runner.js
  runtime/src/errors/errors.js
  runtime/src/index.js
  runtime/src/lib/print.js
  runtime/src/lib/to-string.js
  runtime/src/runtime.js
  runtime/src/utils/utils.js
  stdlib/pervasives.gr
  stdlib/stdlib-external/ascutils/console.ts
  stdlib/stdlib-external/ascutils/dataStructures.ts
  stdlib/stdlib-external/ascutils/grainRuntime.ts
  stdlib/stdlib-external/ascutils/numberUtils.ts
  stdlib/stdlib-external/float32.ts
  stdlib/stdlib-external/float64.ts
  stdlib/stdlib-external/int32.ts
  stdlib/stdlib-external/int64.ts
  stdlib/stdlib-external/runtime.ts
  stdlib/stdlib-external/runtime/print.ts
  stdlib/stdlib-external/runtime/string.ts
Labels: enhancement
