Repository grain-lang/grain, pull requests merged in 2023-08, with the labels that each got.

#1888 fix(compiler): Allow reproviding from submodules
  compiler/src/middle_end/linearize.re
  compiler/src/typed/typemod.re
  compiler/test/suites/includes.re
  compiler/test/suites/provides.re
  compiler/test/test-libs/provideContents.gr
  compiler/test/test-libs/provideType.gr
  compiler/test/test-libs/reprovideContents.gr
  compiler/test/test-libs/reprovideType.gr
Labels: compiler

#1889 chore(docs): Add Bytes to contributor docs
  docs/contributor/data_representations.md
Labels: documentation

#1896 feat: Add `exception` opentype implementation to `Oprint`
  compiler/src/typed/oprint.re
Labels: compiler

#1898 chore(stdlib)!: Switch to using records for `getInternalStats`
  compiler/test/__snapshots__/provides.82c10ab4.0.snapshot
  compiler/test/stdlib/map.test.gr
  compiler/test/stdlib/set.test.gr
  stdlib/map.gr
  stdlib/map.md
  stdlib/set.gr
  stdlib/set.md
Labels: cleanup, stdlib

#1905 chore(compiler): Change todo comment to match style in project
  compiler/src/typed/typemod.re
Labels: cleanup

#1906 chore(stdlib): Update wording of `Buffer.addChar` docs
  stdlib/buffer.gr
  stdlib/buffer.md
Labels: stdlib

#1883 feat(stdlib): Add `addCharFromCodePoint` to Buffer module
  compiler/test/stdlib/buffer.test.gr
  stdlib/buffer.gr
  stdlib/buffer.md
Labels: stdlib

#1892 chore(compiler): Improve unsafe equality warning
  compiler/src/typed/typed_well_formedness.re
  compiler/src/utils/warnings.re
  compiler/src/utils/warnings.rei
Labels: compiler

#1887 fix(compiler): Type aliasing in `use` statements
  compiler/src/typed/env.re
  compiler/src/typed/typemod.re
  compiler/test/suites/includes.re
  compiler/test/test-libs/provideContents.gr
  compiler/test/test-libs/reprovideContents.gr
Labels: enhancement, compiler
