Repository grain-lang/grain, pull requests merged in 2023-04, with the labels that each got.

#1783 chore(compiler): Use `String.ends_with` to check last character
  compiler/src/utils/fs_access.re
Labels: cleanup, compiler

#1767 feat(graindoc): Add test harness
  compiler/test/TestFramework.re
  compiler/test/graindoc/descriptions.expected.md
  compiler/test/graindoc/descriptions.input.gr
  compiler/test/graindoc/example.expected.md
  compiler/test/graindoc/example.input.gr
  compiler/test/graindoc/functionDoc.expected.md
  compiler/test/graindoc/functionDoc.input.gr
  compiler/test/graindoc/noDoc.expected.md
  compiler/test/graindoc/noDoc.input.gr
  compiler/test/graindoc/since.expected.md
  compiler/test/graindoc/since.input.gr
  compiler/test/runner.re
  compiler/test/suites/graindoc.re
Labels: tests, graindoc

#1800 fix(stdlib)!: Remove extra space when converting Bytes to String
  compiler/test/suites/strings.re
  stdlib/runtime/string.gr
Labels: enhancement, runtime

#1793 feat(grainlsp): Implement inlay hints for module includes
  compiler/src/language_server/driver.re
  compiler/src/language_server/initialize.re
  compiler/src/language_server/inlayhint.re
  compiler/src/language_server/inlayhint.rei
  compiler/src/language_server/message.re
  compiler/src/language_server/message.rei
  compiler/src/language_server/protocol.re
  compiler/src/language_server/protocol.rei
Labels: enhancement

#1761 fix(stdlib)!: Ensure `Array.fillRange` works with negative indexing & throws IndexOutOfBound
  compiler/test/stdlib/array.test.gr
  stdlib/array.gr
  stdlib/array.md
Labels: stdlib

#1708 feat(stdlib): Add `chunk` function to Array module
  compiler/test/stdlib/array.test.gr
  stdlib/array.gr
  stdlib/array.md
Labels: stdlib

#1746 feat(stdlib): Add `toIntegerRatio` and `fromIntegerRatio` to Rational Library
  compiler/test/stdlib/rational.test.gr
  stdlib/rational.gr
  stdlib/rational.md
Labels: stdlib

#1744 fea(stdlib): Add comparison operators to char stdlib
  compiler/test/stdlib/char.test.gr
  stdlib/char.gr
  stdlib/char.md
Labels: stdlib

#1787 feat(grainlsp): Implement goto definition
  compiler/src/language_server/code_file.re
  compiler/src/language_server/definition.re
  compiler/src/language_server/definition.rei
  compiler/src/language_server/driver.re
  compiler/src/language_server/formatting.re
  compiler/src/language_server/hover.re
  compiler/src/language_server/initialize.re
  compiler/src/language_server/inlayhint.re
  compiler/src/language_server/message.re
  compiler/src/language_server/message.rei
  compiler/src/language_server/protocol.re
  compiler/src/language_server/protocol.rei
  compiler/src/language_server/sourcetree.re
  compiler/src/language_server/utils.re
  compiler/src/language_server/utils.rei
Labels: enhancement

#1707 feat(stdlib): Add `linearInterpolate`, `linearMap` and `clamp`
  compiler/test/stdlib/number.test.gr
  stdlib/number.gr
  stdlib/number.md
Labels: stdlib
