Repository grain-lang/grain, pull requests merged in 2023-07, with the labels that each got.

#1857 feat(stdlib)!: Reorder parameters to `List.insert`
  compiler/test/stdlib/list.test.gr
  stdlib/list.gr
  stdlib/list.md
Labels: stdlib

#1868 feat(compiler)!: Require `module` prefix on `use`/`provide` for modules
  compiler/src/formatting/format.re
  compiler/src/parsing/parser.messages
  compiler/src/parsing/parser.mly
  compiler/test/grainfmt/includes.expected.gr
  compiler/test/grainfmt/includes.input.gr
  compiler/test/input/modules/provideIncludedModule.gr
  compiler/test/input/nestedModules.gr
  compiler/test/stdlib/array.test.gr
  compiler/test/stdlib/map.test.gr
  compiler/test/stdlib/priorityqueue.test.gr
  compiler/test/stdlib/queue.test.gr
  compiler/test/stdlib/range.test.gr
  compiler/test/stdlib/set.test.gr
  compiler/test/stdlib/stack.test.gr
  compiler/test/suites/includes.re
  compiler/test/suites/modules.re
  compiler/test/suites/provides.re
Labels: compiler

#1840 feat(cli)!: Allow specifying WASI environment variables and CLI args
  cli/bin/exec.js
  cli/bin/grain.js
  cli/bin/grainrun.js
  compiler/test/runner.re
  compiler/test/stdlib/sys.process.test.gr
  compiler/test/suites/wasi_args.re
  stdlib/sys/process.gr
Labels: WASI

#1871 fix(cli)!: Ensure `--use-start-section` can only be used with compile command
  cli/bin/grain.js
Labels: compiler
