Repository grain-lang/grain, pull requests merged in 2023-03, with the labels that each got.

#1706 chore: Make `pow` use early return
  stdlib/runtime/numbers.gr
Labels: runtime

#1713 feat(compiler)!: Custom box printing
  compiler/test/suites/strings.re
  stdlib/runtime/string.gr
Labels: runtime

#1705 fix: Fix String.ReplaceAll
  compiler/test/stdlib/string.test.gr
  stdlib/string.gr
Labels: stdlib

#1720 chore(compiler): Escape `"` in char well formness error
  compiler/src/parsing/well_formedness.re
  compiler/test/suites/chars.re
Labels: enhancement

#1732 chore(grainfmt): Fix double comma on list spread after break
  compiler/src/formatting/format.re
  compiler/test/formatter_inputs/patterns.gr
  compiler/test/formatter_outputs/patterns.gr
Labels: grainfmt

#1724 chore(stdlib): Add throws documentation to String module
  stdlib/string.gr
  stdlib/string.md
Labels: documentation

#1740 chore(compiler): Remove `PExpNull` and `TExpNull`
  compiler/src/formatting/debug.re
  compiler/src/formatting/format.re
  compiler/src/middle_end/linearize.re
  compiler/src/parsing/ast_helper.re
  compiler/src/parsing/ast_helper.rei
  compiler/src/parsing/ast_mapper.re
  compiler/src/parsing/parsetree.re
  compiler/src/parsing/parsetree_iter.re
  compiler/src/typed/typecore.re
  compiler/src/typed/typedtree.re
  compiler/src/typed/typedtree.rei
  compiler/src/typed/typedtreeIter.re
  compiler/src/typed/typedtreeMap.re
Labels: cleanup, compiler

#1737 chore: remove assert from `atof`
  stdlib/runtime/atof/parse.gr
Labels: cleanup

#1739 chore(stdlib): Correct Uint docs
  stdlib/uint16.gr
  stdlib/uint16.md
  stdlib/uint8.gr
  stdlib/uint8.md
Labels: stdlib, documentation

#1738 chore(stdlib)!: Update Operator `uint` operator Names
  compiler/test/stdlib/uint16.test.gr
  compiler/test/stdlib/uint32.test.gr
  compiler/test/stdlib/uint64.test.gr
  compiler/test/stdlib/uint8.test.gr
  stdlib/random.gr
  stdlib/uint16.gr
  stdlib/uint16.md
  stdlib/uint32.gr
  stdlib/uint32.md
  stdlib/uint64.gr
  stdlib/uint64.md
  stdlib/uint8.gr
  stdlib/uint8.md
Labels: stdlib

#1742 chore(stdlib)!: Replace bigint/number arithmetic functions with operators
  compiler/test/stdlib/bigint.test.gr
  compiler/test/stdlib/number.test.gr
  stdlib/bigint.gr
  stdlib/bigint.md
  stdlib/number.gr
  stdlib/number.md
Labels: stdlib

#1743 feat(compiler): Add hex float syntax
  compiler/src/parsing/lexer.re
  compiler/test/__snapshots__/basic_functionality.7beffe4d.0.snapshot
  compiler/test/__snapshots__/basic_functionality.83f51526.0.snapshot
  compiler/test/__snapshots__/basic_functionality.8c8313f3.0.snapshot
  compiler/test/__snapshots__/basic_functionality.903ff701.0.snapshot
  compiler/test/__snapshots__/basic_functionality.d8f6f027.0.snapshot
  compiler/test/__snapshots__/basic_functionality.f47797ca.0.snapshot
  compiler/test/suites/basic_functionality.re
  stdlib/runtime/numbers.gr
Labels: enhancement, syntax

#1760 chore(cli): Change cli option info on tail calls
  cli/bin/grain.js
Labels: compiler

#1769 chore(compiler): Cleanup reference to `wast`
  compiler/src/compile.re
Labels: cleanup, compiler

#1762 feat(stdlib)!: Use Array length as default end in `Array.slice` function
  compiler/test/stdlib/array.test.gr
  stdlib/array.gr
  stdlib/array.md
Labels: enhancement, stdlib
