Repository grain-lang/grain, pull requests merged in 2023-06, with the labels that each got.

#1844 feat(stdlib)!: Handle printing of reference cycles
  compiler/test/suites/cycles.re
  stdlib/runtime/string.gr
Labels: enhancement, runtime

#1860 feat(stdlib): Add `isEmpty` to `List` module
  compiler/test/stdlib/list.test.gr
  stdlib/list.gr
  stdlib/list.md
Labels: stdlib

#1861 feat(stdlib): add `isEmpty` to `String` module
  compiler/test/stdlib/string.test.gr
  stdlib/string.gr
  stdlib/string.md
Labels: stdlib

#1865 fix(stdlib): Properly resize empty Queue on push
  compiler/test/stdlib/queue.test.gr
  stdlib/queue.gr
Labels: stdlib

#1859 chore(stdlib): Use `|` patterns to cleanup pattern matches
  stdlib/regex.gr
Labels: cleanup, stdlib

#1858 chore(stdlib): Clarify `Byte.move` docs
  stdlib/bytes.gr
  stdlib/bytes.md
Labels: stdlib

#1867 fix(stdlib): Properly resize empty Stack on push
  compiler/test/stdlib/stack.test.gr
  stdlib/stack.gr
Labels: stdlib
