Repository grain-lang/grain, pull requests merged in 2024-03, with the labels that each got.

#2016 feat(stdlib): Add `atan2` to the `Number` module
  compiler/test/stdlib/number.test.gr
  stdlib/number.gr
  stdlib/number.md
Labels: stdlib

#1970 feat(stdlib): Add `Uri` module
  compiler/test/stdlib/uri.test.gr
  stdlib/uri.gr
  stdlib/uri.md
Labels: stdlib

#2014 chore(docs): Add examples to `Marshal` module
  stdlib/marshal.gr
  stdlib/marshal.md
Labels: stdlib, documentation

#2011 chore(docs): Add examples to `Hash` module
  stdlib/hash.gr
  stdlib/hash.md
Labels: stdlib, documentation

#2018 chore(compiler): Add warning for `print` and `toString` with unsafe values
  compiler/src/typed/typed_well_formedness.re
  compiler/src/utils/warnings.re
  compiler/src/utils/warnings.rei
  compiler/test/__snapshots__/basic_functionality.1bf5759c.0.snapshot
  stdlib/runtime/debugPrint.gr
  stdlib/runtime/debugPrint.md
Labels: compiler

#2024 chore(compiler): Add `fromNumber(<literal>)` warning for `short` types
  compiler/src/typed/typed_well_formedness.re
  compiler/src/utils/warnings.re
  compiler/src/utils/warnings.rei
  compiler/test/suites/numbers.re
Labels: compiler

#2015 chore(docs): Add examples to `Number` module
  stdlib/number.gr
  stdlib/number.md
Labels: stdlib, documentation

#1133 feat(stdlib): Add `Json` module
  compiler/test/stdlib/json.test.gr
  compiler/test/suites/stdlib.re
  stdlib/json.gr
  stdlib/json.md
  stdlib/runtime/string.gr
  stdlib/runtime/string.md
Labels: enhancement, stdlib

#1755 chore(stdlib)!: Replace `parseInt` error strings with structured error enum
  compiler/src/typed/oprint.re
  compiler/test/stdlib/number.test.gr
  stdlib/number.gr
  stdlib/number.md
  stdlib/runtime/atoi/parse.gr
  stdlib/runtime/atoi/parse.md
Labels: stdlib, runtime

#2003 fix(lsp): Prevent lsp crash when module cannot be found
  compiler/src/language_server/hover.re
  compiler/src/language_server/sourcetree.re
Labels: lsp

#2061 fix(compiler): Set maximum wasm table size
  compiler/src/linking/link.re
  compiler/test/suites/basic_functionality.re
Labels: compiler

#2077 feat(compiler): Add warning for non-integer array indices
  compiler/src/parsing/well_formedness.re
  compiler/src/utils/warnings.re
  compiler/src/utils/warnings.rei
  compiler/test/suites/arrays.re
Labels: compiler

#2079 feat(compiler): Improve warning when omitting fields in record pattern
  compiler/src/utils/warnings.re
  compiler/test/suites/records.re
Labels: compiler

#2081 fix(grainfmt): Fix formatting of `default` argument types
  compiler/src/formatting/fmt.re
  compiler/test/grainfmt/function_params.expected.gr
  compiler/test/grainfmt/function_params.input.gr
Labels: grainfmt

#2063 chore(stdlib): Cleanup json libary
  stdlib/json.gr
  stdlib/json.md
  stdlib/runtime/numberUtils.gr
  stdlib/runtime/numberUtils.md
Labels: cleanup, stdlib
