Repository grain-lang/grain, pull requests merged in 2024-08, with the labels that each got.

#2133 chore(stdlib): Add examples to `Uint8` docs
  stdlib/uint8.gr
  stdlib/uint8.md
Labels: stdlib

#2130 chore(stdlib): Optimize `List.join`
  stdlib/list.gr
Labels: stdlib

#2135 chore(stdlib): Add examples to `Uint16` docs
  stdlib/uint16.gr
  stdlib/uint16.md
Labels: stdlib, documentation

#2144 fix(stdlib): Optimize number modulo
  compiler/test/runtime/numbers.test.gr
  stdlib/runtime/numbers.gr
Labels: stdlib

#2145 chore(stdlib): Cleanup usage of number tagging throughout the stdlib
  stdlib/runtime/wasi.gr
  stdlib/runtime/wasi.md
  stdlib/string.gr
  stdlib/wasi/file.gr
Labels: cleanup, stdlib

#2148 feat(runtime): Simplify `copy` and `fill` polyfills in `Memory` module
  stdlib/runtime/unsafe/memory.gr
  stdlib/runtime/unsafe/memory.md
Labels: runtime

#2134 fix(lsp): Add test harness, update named arg code action title, fix code action trigger points, do not print LSP warnings
  compiler/src/language_server/code_action.re
  compiler/src/language_server/code_file.re
  compiler/src/language_server/log.re
  compiler/src/language_server/utils.re
  compiler/test/runner.re
  compiler/test/suites/dune
  compiler/test/suites/grainlsp.re
  compiler/test/test-libs/compileError.gr
Labels: tests, lsp

#2154 fix(compiler): Correct type approximation on recursive functions
  compiler/src/typed/typecore.re
  compiler/test/suites/functions.re
Labels: types, compiler

#2140 feat(stdlib): Add `String.repeat` to `String` module
  compiler/test/stdlib/string.test.gr
  stdlib/string.gr
  stdlib/string.md
Labels: stdlib
