Repository grain-lang/grain, pull requests merged in 2024-11, with the labels that each got.

#2182 feat(stdlib): Reimplement `Number.gamma` and `Number.factorial`
  compiler/test/stdlib/number.test.gr
  stdlib/number.gr
  stdlib/number.md
Labels: stdlib

#2150 feat(stdlib): Json value access utils
  compiler/test/stdlib/json.test.gr
  stdlib/json.gr
  stdlib/json.md
Labels: stdlib

#2194 chore: Update package-lock.json
  package-lock.json
Labels: admin

#2195 chore: Update to v4 actions artifacts
  .github/workflows/build-js.yml
  .github/workflows/build-native.yml
  .github/workflows/generate-docs.yml
  .github/workflows/test-pkg.yml
  .github/workflows/upload-binaries.yml
Labels: admin

#2191 chore: Enable colors on actions runner
  compiler/test/TestFramework.re
Labels: admin

#2170 feat(stdlib)!: Seeded hashing
  compiler/test/stdlib/hash.test.gr
  stdlib/hash.gr
  stdlib/hash.md
  stdlib/map.gr
  stdlib/map.md
  stdlib/set.gr
  stdlib/set.md
Labels: stdlib

#2196 feat(compiler): Use location for `Unbound_label_with_alt` error
  compiler/src/typed/env.re
Labels: compiler

#2177 feat!: Remove `->` token in favor of `=>`
  compiler/src/parsing/lexer.re
  compiler/src/parsing/parser.messages
  compiler/src/parsing/parser.mly
  compiler/src/parsing/wrapped_lexer.re
  compiler/test/grainfmt/function_params.input.gr
  docs/contributor/memory_management.md
Labels: syntax

#2205 fix(compiler): Correct `in_function` state when typing record properties
  compiler/src/typed/typecore.re
  compiler/test/suites/returns.re
Labels: compiler
