Repository grain-lang/grain, pull requests merged in 2024-01, with the labels that each got.

#1931 feat(stdlib): Add `==` operator to `Queue` module
  compiler/test/stdlib/queue.test.gr
  stdlib/queue.gr
  stdlib/queue.md
Labels: stdlib

#1954 feat(stdlib)!: Replace `Float32` arithmatic/comparison functions with operators
  compiler/test/stdlib/float32.test.gr
  compiler/test/suites/numbers.re
  compiler/test/suites/strings.re
  stdlib/float32.gr
  stdlib/float32.md
Labels: stdlib

#1969 fix(lsp): Fix lsp crash when hovering on function with default arg
  compiler/src/typed/printtyp.re
Labels: lsp

#1959 chore(stdlib): Leverage `Infinity` keyword in `Regex` module
  stdlib/regex.gr
Labels: cleanup, stdlib

#1972 feat(stdlib): Simplify `equal` using `Memory.compare`
  stdlib/runtime/equal.gr
Labels: runtime

#1974 chore(stdlib): Fix spelling mistakes in Array library docs
  stdlib/array.gr
  stdlib/array.md
Labels: cleanup, stdlib

#1956 chore(stdlib): Simplify `Float64.infinity`, `Float64.nan` definitions
  stdlib/float64.gr
Labels: cleanup, stdlib

#1955 chore(stdlib): Simplify `Float32.Infinity` and `Float32.NaN` definitions
  stdlib/float32.gr
Labels: cleanup, stdlib

#1866 feat(stdlib): Add `toList` and `fromList` functions to `Queue` module
  compiler/test/stdlib/queue.test.gr
  stdlib/queue.gr
  stdlib/queue.md
Labels: stdlib

#1950 fix(stdlib): Properly handle extremely large integer bases in `Number.(**)`
  compiler/test/stdlib/number.test.gr
  stdlib/runtime/numbers.gr
Labels: documentation

#1958 chore(stdlib): Add examples to `Int8` module
  stdlib/int8.gr
  stdlib/int8.md
Labels: stdlib, documentation

#1957 feat(stdlib)!: Replace `Float64` arithmatic/comparison functions with operators
  compiler/test/stdlib/float64.test.gr
  compiler/test/suites/numbers.re
  compiler/test/suites/strings.re
  stdlib/float64.gr
  stdlib/float64.md
Labels: stdlib

#1947 chore(stdlib): Add examples to `Buffer` module
  stdlib/buffer.gr
  stdlib/buffer.md
Labels: stdlib, documentation

#1948 chore(stdlib): Optimize `Array.join`
  stdlib/array.gr
Labels: enhancement, stdlib

#1953 chore(stdlib): Add examples to `Rational` module
  stdlib/rational.gr
  stdlib/rational.md
Labels: stdlib, documentation

#1949 chore(stdlib): Remove unused runtime errors
  stdlib/char.gr
  stdlib/runtime/unsafe/errors.gr
  stdlib/runtime/unsafe/errors.md
  stdlib/sys/time.gr
Labels: cleanup, runtime

#1960 chore(stdlib): Add examples to `Bytes` module
  stdlib/bytes.gr
  stdlib/bytes.md
Labels: stdlib, documentation

#1979 chore(compiler): Add arg label to `ArrayLength` primitive
  compiler/src/typed/typecore.re
Labels: compiler

#1933 chore(stdlib): Optimize `Buffer.addChar`
  stdlib/buffer.gr
Labels: stdlib

#1961 chore(stdlib): Add examples to `Exception` module
  stdlib/exception.gr
  stdlib/exception.md
Labels: stdlib, documentation

#1965 chore(stdlib): Optimize `String.trim`
  stdlib/string.gr
Labels: stdlib

#1951 chore(stdlib): Add examples to `Char` module
  stdlib/char.gr
  stdlib/char.md
Labels: stdlib, documentation

#1946 feat(graindoc)!: Allow `@since` and `@returns` once per export
  compiler/graindoc/docblock.re
  compiler/test/graindoc/singleReturn.input.gr
  compiler/test/graindoc/singleSince.input.gr
  compiler/test/runner.re
  compiler/test/suites/graindoc.re
Labels: graindoc

#1973 chore(stdlib): Export `@array.length` primitive directly
  stdlib/array.gr
Labels: cleanup, stdlib

#1975 feat(stdlib): Add ASCII utilities to String, Char
  compiler/test/stdlib/char.test.gr
  compiler/test/stdlib/string.test.gr
  stdlib/char.gr
  stdlib/char.md
  stdlib/string.gr
  stdlib/string.md
Labels: stdlib

#1989 fix(compiler): Properly apply well-formedness checks on patterns
  compiler/src/parsing/well_formedness.re
  compiler/test/suites/chars.re
Labels: bug, compiler

#1849 feat(compiler): Providing, including, reproviding exceptions
  compiler/src/formatting/format.re
  compiler/src/language_server/definition.re
  compiler/src/language_server/hover.re
  compiler/src/language_server/sourcetree.re
  compiler/src/middle_end/linearize.re
  compiler/src/parsing/ast_mapper.re
  compiler/src/parsing/parser.messages
  compiler/src/parsing/parser.mly
  compiler/src/parsing/parsetree.re
  compiler/src/parsing/parsetree_iter.re
  compiler/src/parsing/well_formedness.re
  compiler/src/typed/datarepr.re
  compiler/src/typed/env.re
  compiler/src/typed/env.rei
  compiler/src/typed/printtyp.re
  compiler/src/typed/printtyp.rei
  compiler/src/typed/typedecl.re
  compiler/src/typed/typemod.re
  compiler/src/typed/types.re
  compiler/src/typed/typetexp.re
  compiler/src/typed/typetexp.rei
  compiler/test/grainfmt/includes.expected.gr
  compiler/test/grainfmt/includes.input.gr
  compiler/test/suites/provides.re
  compiler/test/test-libs/provideException.gr
  compiler/test/test-libs/reprovideException.gr
Labels: compiler

#1943 chore(stdlib): Improve examples in `Array` module
  stdlib/array.gr
  stdlib/array.md
Labels: stdlib, documentation

#1963 feat(lsp): Support hover on `include` statements
  compiler/src/language_server/hover.re
  compiler/src/language_server/sourcetree.re
Labels: lsp

#1914 feat(runtime): Allow modulo on floating point numbers
  compiler/test/TestFramework.re
  compiler/test/runner.re
  compiler/test/runtime/numbers.test.gr
  compiler/test/suites/runtime.re
  stdlib/runtime/numbers.gr
Labels: enhancement, runtime

#1987 chore(cli): Hide node's stack trace
  cli/bin/exec.js
  cli/bin/grain.js
Labels: enhancement

#1985 chore(compiler): Add labels to primitive function types
  compiler/src/typed/typecore.re
  stdlib/pervasives.gr
  stdlib/pervasives.md
  stdlib/runtime/dataStructures.gr
  stdlib/runtime/dataStructures.md
  stdlib/runtime/unsafe/memory.md
  stdlib/runtime/unsafe/wasmf32.md
  stdlib/runtime/unsafe/wasmf64.md
  stdlib/runtime/unsafe/wasmi32.md
  stdlib/runtime/unsafe/wasmi64.md
Labels: compiler

#1852 feat(graindoc): Allow doc comments on variants and record fields
  compiler/graindoc/docblock.re
  compiler/src/diagnostics/comments.re
  compiler/src/typed/oprint.re
  compiler/src/typed/printtyp.re
  compiler/src/typed/printtyp.rei
  compiler/src/utils/markdown.re
  compiler/test/graindoc/types.expected.md
  compiler/test/graindoc/types.input.gr
  compiler/test/suites/graindoc.re
  stdlib/regex.gr
  stdlib/regex.md
  stdlib/runtime/atof/decimal.gr
  stdlib/runtime/atof/decimal.md
  stdlib/sys/file.gr
  stdlib/sys/file.md
  stdlib/sys/process.gr
  stdlib/sys/process.md
Labels: graindoc
