Repository grain-lang/grain, pull requests merged in 2025-02, with the labels that each got.

#2224 feat: Add `getAll`, `setAll`, `removeAll` to `List.Associative`
  compiler/test/stdlib/list.test.gr
  stdlib/list.gr
  stdlib/list.md
Labels: stdlib

#2226 feat(stdlib): add `Path.removeExtension`
  compiler/test/stdlib/path.test.gr
  stdlib/path.gr
  stdlib/path.md
Labels: stdlib

#2105 feat(compiler): Enable single-file compilation
  cli/bin/grain.js
  compiler/grainc/grainc.re
  compiler/graindoc/docblock.re
  compiler/graindoc/graindoc.re
  compiler/src/codegen/linkedtree.re
  compiler/src/compile.re
  compiler/src/compile.rei
  compiler/src/formatting/fmt.re
  compiler/src/language_server/code_file.re
  compiler/src/link.re
  compiler/src/parsing/driver.re
  compiler/src/parsing/driver.rei
  compiler/src/typed/cmi_format.re
  compiler/src/typed/cmi_format.rei
  compiler/src/typed/dependency_graph.re
  compiler/src/typed/dependency_graph.rei
  compiler/src/typed/env.re
  compiler/src/typed/env.rei
  compiler/src/typed/module_resolution.re
  compiler/src/typed/module_resolution.rei
  compiler/src/typed/typemod.re
  compiler/test/runner.re
  compiler/test/suites/foreigns.re
  compiler/test/suites/includes.re
  compiler/test/suites/linking.re
  compiler/test/suites/modules.re
  compiler/test/suites/provides.re
Labels: compiler

#2237 chore(runtime): Cleanup offset constants in `String` module
  stdlib/array.gr
  stdlib/buffer.gr
  stdlib/bytes.gr
  stdlib/runtime/unsafe/offsets.gr
  stdlib/runtime/unsafe/offsets.md
  stdlib/runtime/utf8.gr
  stdlib/runtime/utf8.md
  stdlib/string.gr
Labels: cleanup, stdlib, runtime

#2245 fix(grainfmt): Correct formatting of nested constraints
  compiler/src/formatting/fmt.re
  compiler/test/grainfmt/constraints.expected.gr
  compiler/test/grainfmt/constraints.input.gr
Labels: grainfmt

#2238 feat(stdlib): Add `Char.encodedLength`
  compiler/test/stdlib/char.test.gr
  stdlib/char.gr
  stdlib/char.md
Labels: stdlib

#2248 feat(runtime): Prevent stack overflow while collecting large lists
  compiler/test/suites/basic_functionality.re
  compiler/test/suites/gc.re
  stdlib/runtime/gc.gr
Labels: enhancement, runtime

#2247 feat(runtime): Optimize `==` for lists
  compiler/test/stdlib/pervasives.test.gr
  compiler/test/suites/basic_functionality.re
  stdlib/runtime/equal.gr
Labels: enhancement, runtime

#2209 feat(stdlib): Add `Array.tryInit`
  compiler/test/stdlib/array.test.gr
  stdlib/array.gr
  stdlib/array.md
Labels: stdlib

#2136 feat(compiler)!: Disallow whitespace for negative literals + allow infix operators on new line
  compiler/src/formatting/fmt.re
  compiler/src/parsing/lexer.re
  compiler/src/parsing/parser.messages
  compiler/src/parsing/parser.mly
  compiler/src/parsing/wrapped_lexer.re
  compiler/test/__snapshots__/basic_functionality.16eea1e9.0.snapshot
  compiler/test/__snapshots__/basic_functionality.7edbad66.0.snapshot
  compiler/test/grainfmt/application_indenting.expected.gr
  compiler/test/grainfmt/binop_perf.expected.gr
  compiler/test/grainfmt/binops.expected.gr
  compiler/test/grainfmt/infix.expected.gr
  compiler/test/grainfmt/infix.input.gr
  compiler/test/runner.re
  compiler/test/stdlib/array.test.gr
  compiler/test/stdlib/bigint.test.gr
  compiler/test/stdlib/float64.test.gr
  compiler/test/stdlib/fs.test.gr
  compiler/test/stdlib/hash.test.gr
  compiler/test/stdlib/json.test.gr
  compiler/test/stdlib/list.test.gr
  compiler/test/stdlib/number.test.gr
  compiler/test/stdlib/option.test.gr
  compiler/test/stdlib/path.test.gr
  compiler/test/stdlib/priorityqueue.test.gr
  compiler/test/stdlib/queue.test.gr
  compiler/test/stdlib/range.test.gr
  compiler/test/stdlib/regex.test.gr
  compiler/test/stdlib/result.test.gr
  compiler/test/stdlib/string.test.gr
  compiler/test/stdlib/uri.test.gr
  compiler/test/suites/basic_functionality.re
  compiler/test/suites/functions.re
  stdlib/char.gr
  stdlib/float32.gr
  stdlib/float64.gr
  stdlib/fs.gr
  stdlib/hash.gr
  stdlib/json.gr
  stdlib/marshal.gr
  stdlib/number.gr
  stdlib/priorityqueue.gr
  stdlib/range.gr
  stdlib/regex.gr
  stdlib/runtime/atof/decimal.gr
  stdlib/runtime/atof/lemire.gr
  stdlib/runtime/atof/parse.gr
  stdlib/runtime/atoi/parse.gr
  stdlib/runtime/bigint.gr
  stdlib/runtime/compare.gr
  stdlib/runtime/equal.gr
  stdlib/runtime/math/kernel/tan.gr
  stdlib/runtime/numberUtils.gr
  stdlib/runtime/numbers.gr
  stdlib/runtime/string.gr
  stdlib/string.gr
  stdlib/uri.gr
  stdlib/wasi/file.gr
Labels: compiler, syntax
