Repository grain-lang/grain, pull requests merged in 2025-06, with the labels that each got.

#2291 feat(graindoc): Add locations to Graindoc errors
  compiler/graindoc/docblock.re
  compiler/src/diagnostics/comment_attributes.re
  compiler/src/diagnostics/comments.re
  compiler/src/diagnostics/graindoc_parser.mly
  compiler/src/diagnostics/graindoc_parser_header.re
  compiler/test/suites/graindoc.re
Labels: graindoc

#2290 chore(graindoc): Fix variable name typos
  compiler/test/TestFramework.re
  compiler/test/runner.re
Labels: cleanup

#2297 chore(docs): Clean up pre 0.6 examples
  CONTRIBUTING.md
  stdlib/int32.gr
  stdlib/int32.md
  stdlib/int64.gr
  stdlib/int64.md
  stdlib/number.gr
  stdlib/number.md
Labels: stdlib

#2296 feat(stdlib): Expose equality operators through `Number` module
  stdlib/number.gr
  stdlib/number.md
Labels: stdlib

#2298 feat(lsp): Implement document symbol outline
  compiler/src/language_server/driver.re
  compiler/src/language_server/initialize.re
  compiler/src/language_server/message.re
  compiler/src/language_server/message.rei
  compiler/src/language_server/symbol.re
  compiler/src/language_server/symbol.rei
  compiler/src/typed/typedtree.re
  compiler/src/typed/typedtree.rei
  compiler/src/typed/typemod.re
  compiler/test/runner.re
  compiler/test/suites/grainlsp.re
Labels: lsp

#2262 feat(stdlib): Add `Buffer.getChar`
  compiler/test/stdlib/buffer.test.gr
  stdlib/buffer.gr
  stdlib/buffer.md
  stdlib/bytes.gr
  stdlib/bytes.md
Labels: stdlib
