Repository grain-lang/grain, pull requests merged in 2025-01, with the labels that each got.

#2215 feat(stdlib): Add `Bytes.setChar` and `Bytes.getChar`
  compiler/test/stdlib/bytes.test.gr
  stdlib/buffer.gr
  stdlib/bytes.gr
  stdlib/bytes.md
  stdlib/char.gr
  stdlib/json.gr
  stdlib/runtime/string.gr
  stdlib/runtime/string.md
  stdlib/runtime/utf8.gr
  stdlib/runtime/utf8.md
  stdlib/string.gr
Labels: enhancement, stdlib

#2202 feat(stdlib): `List.Associative` Submodule
  compiler/test/stdlib/list.test.gr
  stdlib/list.gr
  stdlib/list.md
Labels: stdlib

#2231 feat(compiler): Use program location for `_gmain`
  compiler/src/codegen/compcore.re
Labels: compiler

#2230 fix(grainfmt): Fix formatting of function types with a single tuple arg
  compiler/src/formatting/fmt.re
  compiler/test/grainfmt/lambda.expected.gr
  compiler/test/grainfmt/lambda.input.gr
Labels: grainfmt

#2225 chore: Add scripts for `stdlib format` and `stdlib doc`
  .github/workflows/build-native.yml
  stdlib/README.md
  stdlib/package.json
Labels: admin

#2207 feat(cli): Support node v22 and v23
  cli/bin/grainrun.js
Labels: enhancement

#2236 chore(stdlib): Correct small spelling mistake in `Array` docs
  stdlib/array.gr
  stdlib/array.md
Labels: cleanup, stdlib

#1966 feat(stdlib): Add user-friendly file system module
  compiler/test/stdlib/fs.test.gr
  compiler/test/test-data/test-dir/dir/nested.txt
  compiler/test/test-data/test-dir/file1.txt
  compiler/test/test-data/test-dir/file2.txt
  compiler/test/test-data/test-dir/file3.txt
  compiler/test/test-data/test-dir/link
  stdlib/fs.gr
  stdlib/fs.md
  stdlib/wasi/file.gr
Labels: stdlib
